# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [86]:
# Do all imports and installs here
import pandas as pd
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.functions import col
from pyspark.sql.window import Window

#### Function definitions

In [2]:
def missing_values_count(df):
    return df.select([F.count(F.when(F.isnan(c) | F.col(c).isNull(), c)).alias(c) for c in df.columns]).show()

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [3]:
# Start a Spark Session
spark = SparkSession.builder \
    .appName("InterviewChallenge") \
    .master("local[2]") \
    .getOrCreate()

#     .config("spark.executor.memory", "2g") \

In [48]:
# Read input data to spark dataframe
flights_path = 'Data/flights.csv' 
airlines_path = 'Data/airlines.csv'
airports_path = 'Data/airports.csv'

df = spark.read.options(header=True).csv(flights_path)  # main dataset with flights data
# df = spark.read.options(header=True, inferSchema=True).csv(flights_path)  # main dataset with flights data
airlines_df = spark.read.options(header=True, inferSchema=True).csv(airlines_path)  # data dict with airlines
airports_df = spark.read.options(header=True, inferSchema=True).csv(airports_path)  # data dict with airports

In [5]:
df.printSchema()

root
 |-- YEAR: string (nullable = true)
 |-- MONTH: string (nullable = true)
 |-- DAY: string (nullable = true)
 |-- DAY_OF_WEEK: string (nullable = true)
 |-- AIRLINE: string (nullable = true)
 |-- FLIGHT_NUMBER: string (nullable = true)
 |-- TAIL_NUMBER: string (nullable = true)
 |-- ORIGIN_AIRPORT: string (nullable = true)
 |-- DESTINATION_AIRPORT: string (nullable = true)
 |-- SCHEDULED_DEPARTURE: string (nullable = true)
 |-- DEPARTURE_TIME: string (nullable = true)
 |-- DEPARTURE_DELAY: string (nullable = true)
 |-- TAXI_OUT: string (nullable = true)
 |-- WHEELS_OFF: string (nullable = true)
 |-- SCHEDULED_TIME: string (nullable = true)
 |-- ELAPSED_TIME: string (nullable = true)
 |-- AIR_TIME: string (nullable = true)
 |-- DISTANCE: string (nullable = true)
 |-- WHEELS_ON: string (nullable = true)
 |-- TAXI_IN: string (nullable = true)
 |-- SCHEDULED_ARRIVAL: string (nullable = true)
 |-- ARRIVAL_TIME: string (nullable = true)
 |-- ARRIVAL_DELAY: string (nullable = true)
 |-- DIVERTED: string (nullable = true)
 |-- CANCELLED: string (nullable = true)
 |-- CANCELLATION_REASON: string (nullable = true)
 |-- AIR_SYSTEM_DELAY: string (nullable = true)
 |-- SECURITY_DELAY: string (nullable = true)
 |-- AIRLINE_DELAY: string (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: string (nullable = true)
 |-- WEATHER_DELAY: string (nullable = true)

In [6]:
# DTypes in pd formatting
pd.DataFrame(df.dtypes, columns=['Column', 'Dtype'])

                 Column   Dtype
0                  YEAR  string
1                 MONTH  string
2                   DAY  string
3           DAY_OF_WEEK  string
4               AIRLINE  string
5         FLIGHT_NUMBER  string
6           TAIL_NUMBER  string
7        ORIGIN_AIRPORT  string
8   DESTINATION_AIRPORT  string
9   SCHEDULED_DEPARTURE  string
10       DEPARTURE_TIME  string
11      DEPARTURE_DELAY  string
12             TAXI_OUT  string
13           WHEELS_OFF  string
14       SCHEDULED_TIME  string
15         ELAPSED_TIME  string
16             AIR_TIME  string
17             DISTANCE  string
18            WHEELS_ON  string
19              TAXI_IN  string
20    SCHEDULED_ARRIVAL  string
21         ARRIVAL_TIME  string
22        ARRIVAL_DELAY  string
23             DIVERTED  string
24            CANCELLED  string
25  CANCELLATION_REASON  string
26     AIR_SYSTEM_DELAY  string
27       SECURITY_DELAY  string
28        AIRLINE_DELAY  string
29  LATE_AIRCRAFT_DELAY  string
30        WEATHER_DELAY  string

In [7]:
df.show(20)

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|YEAR|MONTH|DAY|DAY_OF_WEEK|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|CANCELLATION_REASON|AIR_SYSTEM_DELAY|SECURITY_DELAY|AIRLINE_DELAY|LATE_AIRCRAFT_DELAY|WEATHER_DELAY|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|2015|    1|  1|          4|     AS|           98|     N407AS|           ANC|                SEA|               0005|          2354|            -11|      21|      0015|           205|         194|     169|    1448|     0404|      4|             0430|        0408|          -22|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|         2336|     N3KUAA|           LAX|                PBI|               0010|          0002|             -8|      12|      0014|           280|         279|     263|    2330|     0737|      4|             0750|        0741|           -9|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     US|          840|     N171US|           SFO|                CLT|               0020|          0018|             -2|      16|      0034|           286|         293|     266|    2296|     0800|     11|             0806|        0811|            5|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|          258|     N3HYAA|           LAX|                MIA|               0020|          0015|             -5|      15|      0030|           285|         281|     258|    2342|     0748|      8|             0805|        0756|           -9|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AS|          135|     N527AS|           SEA|                ANC|               0025|          0024|             -1|      11|      0035|           235|         215|     199|    1448|     0254|      5|             0320|        0259|          -21|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|          806|     N3730B|           SFO|                MSP|               0025|          0020|             -5|      18|      0038|           217|         230|     206|    1589|     0604|      6|             0602|        0610|            8|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     NK|          612|     N635NK|           LAS|                MSP|               0025|          0019|             -6|      11|      0030|           181|         170|     154|    1299|     0504|      5|             0526|        0509|          -17|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     US|         2013|     N584UW|           LAX|                CLT|               0030|          0044|             14|      13|      0057|           273|         249|     228|    2125|     0745|      8|             0803|        0753|          -10|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|         1112|     N3LAAA|           SFO|                DFW|               0030|          0019|            -11|      17|      0036|           195|         193|     173|    1464|     0529|      3|             0545|        0532|          -13|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         1173|     N826DN|           LAS|                ATL|               0030|          0033|              3|      12|      0045|           221|         203|     186|    1747|     0651|      5|             0711|        0656|          -15|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         2336|     N958DN|           DEN|                ATL|               0030|          0024|             -6|      12|      0036|           173|         149|     133|    1199|     0449|      4|             0523|        0453|          -30|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|         1674|     N853AA|           LAS|                MIA|               0035|          0027|             -8|      21|      0048|           268|         266|     238|    2174|     0746|      7|             0803|        0753|          -10|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         1434|     N547US|           LAX|                MSP|               0035|          0035|              0|      18|      0053|           214|         210|     188|    1535|     0601|      4|             0609|        0605|           -4|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         2324|     N3751B|           SLC|                ATL|               0040|          0034|             -6|      18|      0052|           215|         199|     176|    1590|     0548|      5|             0615|        0553|          -22|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         2440|     N651DL|           SEA|                MSP|               0040|          0039|             -1|      28|      0107|           189|         198|     166|    1399|     0553|      4|             0549|        0557|            8|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AS|          108|     N309AS|           ANC|                SEA|               0045|          0041|             -4|      17|      0058|           204|         194|     173|    1448|     0451|      4|             0509|        0455|          -14|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         1560|     N3743H|           ANC|                SEA|               0045|          0031|            -14|      25|      0056|           210|         200|     171|    1448|     0447|      4|             0515|        0451|          -24|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     UA|         1197|     N78448|           SFO|                IAH|               0048|          0042|             -6|      11|      0053|           218|         217|     199|    1635|     0612|      7|             0626|        0619|           -7|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AS|          122|     N413AS|           ANC|                PDX|               0050|          0046|             -4|      11|      0057|           215|         201|     187|    1542|     0504|      3|             0525|        0507|          -18|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         1670|     N806DN|           PDX|                MSP|               0050|          0045|             -5|       9|      0054|           193|         186|     171|    1426|     0545|      6|             0603|        0551|          -12|       0|        0|               null|            null|          null|         null|               null|         null|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
only showing top 20 rows

In [8]:
# Dataframe shape
print("Dataframe row count: ", df.count())
print("Dataframe columns count: ", len(df.columns))

Dataframe row count:  5819079
Dataframe columns count:  31

In [9]:
# Column statistics
# df.describe().toPandas()

In [10]:
missing_values_count(df)

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|YEAR|MONTH|DAY|DAY_OF_WEEK|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|CANCELLATION_REASON|AIR_SYSTEM_DELAY|SECURITY_DELAY|AIRLINE_DELAY|LATE_AIRCRAFT_DELAY|WEATHER_DELAY|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|   0|    0|  0|          0|      0|            0|      14721|             0|                  0|                  0|         86153|          86153|   89047|     89047|             6|      105071|  105071|       0|    92513|  92513|                0|       92513|       105071|       0|        0|            5729195|         4755640|       4755640|      4755640|            4755640|      4755640|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+

##### Airports data dictionary

In [11]:
airports_df.printSchema()

root
 |-- IATA_CODE: string (nullable = true)
 |-- AIRPORT: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- COUNTRY: string (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)

In [12]:
# DTypes in pd formatting
pd.DataFrame(airports_df.dtypes, columns=['Column', 'Dtype'])

      Column   Dtype
0  IATA_CODE  string
1    AIRPORT  string
2       CITY  string
3      STATE  string
4    COUNTRY  string
5   LATITUDE  double
6  LONGITUDE  double

In [13]:
airports_df.show(20)

+---------+--------------------+-------------+-----+-------+--------+----------+
|IATA_CODE|             AIRPORT|         CITY|STATE|COUNTRY|LATITUDE| LONGITUDE|
+---------+--------------------+-------------+-----+-------+--------+----------+
|      ABE|Lehigh Valley Int...|    Allentown|   PA|    USA|40.65236|  -75.4404|
|      ABI|Abilene Regional ...|      Abilene|   TX|    USA|32.41132|  -99.6819|
|      ABQ|Albuquerque Inter...|  Albuquerque|   NM|    USA|35.04022|-106.60919|
|      ABR|Aberdeen Regional...|     Aberdeen|   SD|    USA|45.44906| -98.42183|
|      ABY|Southwest Georgia...|       Albany|   GA|    USA|31.53552| -84.19447|
|      ACK|Nantucket Memoria...|    Nantucket|   MA|    USA|41.25305| -70.06018|
|      ACT|Waco Regional Air...|         Waco|   TX|    USA|31.61129| -97.23052|
|      ACV|      Arcata Airport|Arcata/Eureka|   CA|    USA|40.97812|-124.10862|
|      ACY|Atlantic City Int...|Atlantic City|   NJ|    USA|39.45758| -74.57717|
|      ADK|        Adak Airport|         Adak|   AK|    USA|51.87796|-176.64603|
|      ADQ|      Kodiak Airport|       Kodiak|   AK|    USA|57.74997|-152.49386|
|      AEX|Alexandria Intern...|   Alexandria|   LA|    USA|31.32737| -92.54856|
|      AGS|Augusta Regional ...|      Augusta|   GA|    USA|33.36996|  -81.9645|
|      AKN| King Salmon Airport|  King Salmon|   AK|    USA| 58.6768|-156.64922|
|      ALB|Albany Internatio...|       Albany|   NY|    USA|42.74812| -73.80298|
|      ALO|Waterloo Regional...|     Waterloo|   IA|    USA|42.55708| -92.40034|
|      AMA|Rick Husband Amar...|     Amarillo|   TX|    USA|35.21937|-101.70593|
|      ANC|Ted Stevens Ancho...|    Anchorage|   AK|    USA|61.17432|-149.99619|
|      APN|Alpena County Reg...|       Alpena|   MI|    USA|45.07807| -83.56029|
|      ASE|Aspen-Pitkin Coun...|        Aspen|   CO|    USA|39.22316|-106.86885|
+---------+--------------------+-------------+-----+-------+--------+----------+
only showing top 20 rows

In [14]:
# Dataframe shape
print("Dataframe row count: ", airports_df.count())
print("Dataframe columns count: ", len(airports_df.columns))

Dataframe row count:  322
Dataframe columns count:  7

In [15]:
# Column statistics
airports_df.describe().toPandas()

,summary,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,count,322,322,322,322,322,319,319
1,mean,None,None,None,None,None,38.981243918495295,-98.37896445141064
2,stddev,None,None,None,None,None,8.616735581018041,21.523492046498102
3,min,ABE,Aberdeen Regional Airport,Aberdeen,AK,USA,13.48345,-176.64603
4,max,YUM,Yuma International Airport,Yuma,WY,USA,71.28545,-64.79856

In [16]:
missing_values_count(airports_df)

+---------+-------+----+-----+-------+--------+---------+
|IATA_CODE|AIRPORT|CITY|STATE|COUNTRY|LATITUDE|LONGITUDE|
+---------+-------+----+-----+-------+--------+---------+
|        0|      0|   0|    0|      0|       3|        3|
+---------+-------+----+-----+-------+--------+---------+

#### Airlines data dictionary

In [17]:
airlines_df.printSchema()

root
 |-- IATA_CODE: string (nullable = true)
 |-- AIRLINE: string (nullable = true)

In [18]:
# DTypes in pd formatting
pd.DataFrame(airlines_df.dtypes, columns=['Column', 'Dtype'])

      Column   Dtype
0  IATA_CODE  string
1    AIRLINE  string

In [19]:
airlines_df.show(20)

+---------+--------------------+
|IATA_CODE|             AIRLINE|
+---------+--------------------+
|       UA|United Air Lines ...|
|       AA|American Airlines...|
|       US|     US Airways Inc.|
|       F9|Frontier Airlines...|
|       B6|     JetBlue Airways|
|       OO|Skywest Airlines ...|
|       AS|Alaska Airlines Inc.|
|       NK|    Spirit Air Lines|
|       WN|Southwest Airline...|
|       DL|Delta Air Lines Inc.|
|       EV|Atlantic Southeas...|
|       HA|Hawaiian Airlines...|
|       MQ|American Eagle Ai...|
|       VX|      Virgin America|
+---------+--------------------+

In [20]:
# Dataframe shape
print("Dataframe row count: ", airlines_df.count())
print("Dataframe columns count: ", len(airlines_df.columns))

Dataframe row count:  14
Dataframe columns count:  2

In [21]:
# Column statistics
airlines_df.describe().toPandas()

  summary IATA_CODE               AIRLINE
0   count        14                    14
1    mean      None                  None
2  stddev      None                  None
3     min        AA  Alaska Airlines Inc.
4     max        WN        Virgin America

In [22]:
missing_values_count(airlines_df)

+---------+-------+
|IATA_CODE|AIRLINE|
+---------+-------+
|        0|      0|
+---------+-------+

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

In [23]:
import matplotlib.pyplot as plt
import seaborn as sns

ImportError: DLL load failed while importing _imaging: The specified module could not be found.

In [ ]:
fig = plt.figure(figsize=(25, 15))
st = fig.suptitle("Distribution of Features", fontsize=50, verticalalignment="center")
for col, num in zip(df.toPandas().describe().columns, range(1,11)):
    ax = fig.add_subplot(3,4, num)
    ax.hist(df.toPandas[col])
    plt.grid(False)
    plt.xticks(ratation=45, fontsize=20)
    plt.yticks(fontsize=15)
    plt.title(col.upper(), fontsize=20)
    
plt.tight_layout()
st.set_y(0.95)
fig.subplots_adjust(top=0.85, hspace=0.4)
plt.show()

#### Cleaning Steps
Document steps necessary to clean the data

- converting to integers
- converting dates to datetime
- ~~converting time to time~~
- convert DIVERTED CANCELLED to Boolean

In [49]:
# Converting to integers 

int_cols = ['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'DEPARTURE_DELAY', 'TAXI_OUT', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'TAXI_IN', 
            'ARRIVAL_DELAY', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']
for c in int_cols :
    df = df.withColumn(c, F.col(c).cast("int"))

In [50]:
# Converting date

df = df.withColumn('DATE', F.make_date('YEAR', 'MONTH', 'DAY'))

In [26]:
# Converting time
# df1 = df.withColumn('SCHEDULED_DEPARTURE', F.make_timestamp(hour=F.substring('SCHEDULED_DEPARTURE', 1, 2),min=F.substring('SCHEDULED_DEPARTURE', 3, 2)))
# Converting time
# df1 = df.withColumn('SCHEDULED_DEPARTURE', F.to_timestamp('SCHEDULED_DEPARTURE', format='HHmm'))

In [51]:
# Converting booleans

df = df.withColumn('DIVERTED', F.col('DIVERTED').cast('boolean'))
df = df.withColumn('CANCELLED', F.col('CANCELLED').cast('boolean'))

In [28]:
df.show()

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+
|YEAR|MONTH|DAY|DAY_OF_WEEK|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|CANCELLATION_REASON|AIR_SYSTEM_DELAY|SECURITY_DELAY|AIRLINE_DELAY|LATE_AIRCRAFT_DELAY|WEATHER_DELAY|      DATE|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+
|2015|    1|  1|          4|     AS|           98|     N407AS|           ANC|                SEA|               0005|          2354|            -11|      21|      0015|           205|         194|     169|    1448|     0404|      4|             0430|        0408|          -22|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     AA|         2336|     N3KUAA|           LAX|                PBI|               0010|          0002|             -8|      12|      0014|           280|         279|     263|    2330|     0737|      4|             0750|        0741|           -9|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     US|          840|     N171US|           SFO|                CLT|               0020|          0018|             -2|      16|      0034|           286|         293|     266|    2296|     0800|     11|             0806|        0811|            5|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     AA|          258|     N3HYAA|           LAX|                MIA|               0020|          0015|             -5|      15|      0030|           285|         281|     258|    2342|     0748|      8|             0805|        0756|           -9|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     AS|          135|     N527AS|           SEA|                ANC|               0025|          0024|             -1|      11|      0035|           235|         215|     199|    1448|     0254|      5|             0320|        0259|          -21|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     DL|          806|     N3730B|           SFO|                MSP|               0025|          0020|             -5|      18|      0038|           217|         230|     206|    1589|     0604|      6|             0602|        0610|            8|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     NK|          612|     N635NK|           LAS|                MSP|               0025|          0019|             -6|      11|      0030|           181|         170|     154|    1299|     0504|      5|             0526|        0509|          -17|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     US|         2013|     N584UW|           LAX|                CLT|               0030|          0044|             14|      13|      0057|           273|         249|     228|    2125|     0745|      8|             0803|        0753|          -10|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     AA|         1112|     N3LAAA|           SFO|                DFW|               0030|          0019|            -11|      17|      0036|           195|         193|     173|    1464|     0529|      3|             0545|        0532|          -13|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     DL|         1173|     N826DN|           LAS|                ATL|               0030|          0033|              3|      12|      0045|           221|         203|     186|    1747|     0651|      5|             0711|        0656|          -15|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     DL|         2336|     N958DN|           DEN|                ATL|               0030|          0024|             -6|      12|      0036|           173|         149|     133|    1199|     0449|      4|             0523|        0453|          -30|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     AA|         1674|     N853AA|           LAS|                MIA|               0035|          0027|             -8|      21|      0048|           268|         266|     238|    2174|     0746|      7|             0803|        0753|          -10|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     DL|         1434|     N547US|           LAX|                MSP|               0035|          0035|              0|      18|      0053|           214|         210|     188|    1535|     0601|      4|             0609|        0605|           -4|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     DL|         2324|     N3751B|           SLC|                ATL|               0040|          0034|             -6|      18|      0052|           215|         199|     176|    1590|     0548|      5|             0615|        0553|          -22|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     DL|         2440|     N651DL|           SEA|                MSP|               0040|          0039|             -1|      28|      0107|           189|         198|     166|    1399|     0553|      4|             0549|        0557|            8|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     AS|          108|     N309AS|           ANC|                SEA|               0045|          0041|             -4|      17|      0058|           204|         194|     173|    1448|     0451|      4|             0509|        0455|          -14|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     DL|         1560|     N3743H|           ANC|                SEA|               0045|          0031|            -14|      25|      0056|           210|         200|     171|    1448|     0447|      4|             0515|        0451|          -24|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     UA|         1197|     N78448|           SFO|                IAH|               0048|          0042|             -6|      11|      0053|           218|         217|     199|    1635|     0612|      7|             0626|        0619|           -7|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     AS|          122|     N413AS|           ANC|                PDX|               0050|          0046|             -4|      11|      0057|           215|         201|     187|    1542|     0504|      3|             0525|        0507|          -18|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     DL|         1670|     N806DN|           PDX|                MSP|               0050|          0045|             -5|       9|      0054|           193|         186|     171|    1426|     0545|      6|             0603|        0551|          -12|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+
only showing top 20 rows

In [77]:
df.filter((df['AIRLINE'] == 'AS') & (df['FLIGHT_NUMBER'] == 98)).tail(50)

[Row(YEAR=2015, MONTH=10, DAY=12, DAY_OF_WEEK=1, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N760AS', ORIGIN_AIRPORT='10299', DESTINATION_AIRPORT='14747', SCHEDULED_DEPARTURE='1630', DEPARTURE_TIME='1626', DEPARTURE_DELAY=-4, TAXI_OUT=8, WHEELS_OFF='1634', SCHEDULED_TIME=199, ELAPSED_TIME=223, AIR_TIME=208, DISTANCE=1448, WHEELS_ON='2102', TAXI_IN=7, SCHEDULED_ARRIVAL='2049', ARRIVAL_TIME='2109', ARRIVAL_DELAY=20, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=20, SECURITY_DELAY=0, AIRLINE_DELAY=0, LATE_AIRCRAFT_DELAY=0, WEATHER_DELAY=0, DATE=datetime.date(2015, 10, 12)),
 Row(YEAR=2015, MONTH=10, DAY=13, DAY_OF_WEEK=2, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N317AS', ORIGIN_AIRPORT='10299', DESTINATION_AIRPORT='14747', SCHEDULED_DEPARTURE='1630', DEPARTURE_TIME='1628', DEPARTURE_DELAY=-2, TAXI_OUT=10, WHEELS_OFF='1638', SCHEDULED_TIME=199, ELAPSED_TIME=199, AIR_TIME=183, DISTANCE=1448, WHEELS_ON='2041', TAXI_IN=6, SCHEDULED_ARRIVAL='2049', ARRIVAL_TIME='2047', ARRIVAL_DELAY=-2, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 10, 13)),
 Row(YEAR=2015, MONTH=10, DAY=15, DAY_OF_WEEK=4, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N706AS', ORIGIN_AIRPORT='10299', DESTINATION_AIRPORT='14747', SCHEDULED_DEPARTURE='1630', DEPARTURE_TIME='1630', DEPARTURE_DELAY=0, TAXI_OUT=8, WHEELS_OFF='1638', SCHEDULED_TIME=203, ELAPSED_TIME=209, AIR_TIME=192, DISTANCE=1448, WHEELS_ON='2050', TAXI_IN=9, SCHEDULED_ARRIVAL='2053', ARRIVAL_TIME='2059', ARRIVAL_DELAY=6, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 10, 15)),
 Row(YEAR=2015, MONTH=10, DAY=16, DAY_OF_WEEK=5, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N508AS', ORIGIN_AIRPORT='10299', DESTINATION_AIRPORT='14747', SCHEDULED_DEPARTURE='1630', DEPARTURE_TIME='1623', DEPARTURE_DELAY=-7, TAXI_OUT=18, WHEELS_OFF='1641', SCHEDULED_TIME=199, ELAPSED_TIME=228, AIR_TIME=201, DISTANCE=1448, WHEELS_ON='2102', TAXI_IN=9, SCHEDULED_ARRIVAL='2049', ARRIVAL_TIME='2111', ARRIVAL_DELAY=22, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=22, SECURITY_DELAY=0, AIRLINE_DELAY=0, LATE_AIRCRAFT_DELAY=0, WEATHER_DELAY=0, DATE=datetime.date(2015, 10, 16)),
 Row(YEAR=2015, MONTH=10, DAY=18, DAY_OF_WEEK=7, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N613AS', ORIGIN_AIRPORT='10299', DESTINATION_AIRPORT='14747', SCHEDULED_DEPARTURE='1630', DEPARTURE_TIME='1621', DEPARTURE_DELAY=-9, TAXI_OUT=8, WHEELS_OFF='1629', SCHEDULED_TIME=199, ELAPSED_TIME=204, AIR_TIME=188, DISTANCE=1448, WHEELS_ON='2037', TAXI_IN=8, SCHEDULED_ARRIVAL='2049', ARRIVAL_TIME='2045', ARRIVAL_DELAY=-4, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 10, 18)),
 Row(YEAR=2015, MONTH=10, DAY=19, DAY_OF_WEEK=1, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N585AS', ORIGIN_AIRPORT='10299', DESTINATION_AIRPORT='14747', SCHEDULED_DEPARTURE='1630', DEPARTURE_TIME='1626', DEPARTURE_DELAY=-4, TAXI_OUT=11, WHEELS_OFF='1637', SCHEDULED_TIME=199, ELAPSED_TIME=185, AIR_TIME=167, DISTANCE=1448, WHEELS_ON='2024', TAXI_IN=7, SCHEDULED_ARRIVAL='2049', ARRIVAL_TIME='2031', ARRIVAL_DELAY=-18, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 10, 19)),
 Row(YEAR=2015, MONTH=10, DAY=20, DAY_OF_WEEK=2, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N568AS', ORIGIN_AIRPORT='10299', DESTINATION_AIRPORT='14747', SCHEDULED_DEPARTURE='1630', DEPARTURE_TIME='1627', DEPARTURE_DELAY=-3, TAXI_OUT=9, WHEELS_OFF='1636', SCHEDULED_TIME=199, ELAPSED_TIME=209, AIR_TIME=193, DISTANCE=1448, WHEELS_ON='2049', TAXI_IN=7, SCHEDULED_ARRIVAL='2049', ARRIVAL_TIME='2056', ARRIVAL_DELAY=7, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 10, 20)),
 Row(YEAR=2015, MONTH=10, DAY=22, DAY_OF_WEEK=4, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N317AS', ORIGIN_AIRPORT='10299', DESTINATION_AIRPORT='14747', SCHEDULED_DEPARTURE='1630', DEPARTURE_TIME='1626', DEPARTURE_DELAY=-4, TAXI_OUT=13, WHEELS_OFF='1639', SCHEDULED_TIME=199, ELAPSED_TIME=213, AIR_TIME=192, DISTANCE=1448, WHEELS_ON='2051', TAXI_IN=8, SCHEDULED_ARRIVAL='2049', ARRIVAL_TIME='2059', ARRIVAL_DELAY=10, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 10, 22)),
 Row(YEAR=2015, MONTH=10, DAY=23, DAY_OF_WEEK=5, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N534AS', ORIGIN_AIRPORT='10299', DESTINATION_AIRPORT='14747', SCHEDULED_DEPARTURE='1630', DEPARTURE_TIME='1628', DEPARTURE_DELAY=-2, TAXI_OUT=13, WHEELS_OFF='1641', SCHEDULED_TIME=199, ELAPSED_TIME=204, AIR_TIME=182, DISTANCE=1448, WHEELS_ON='2043', TAXI_IN=9, SCHEDULED_ARRIVAL='2049', ARRIVAL_TIME='2052', ARRIVAL_DELAY=3, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 10, 23)),
 Row(YEAR=2015, MONTH=10, DAY=25, DAY_OF_WEEK=7, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N706AS', ORIGIN_AIRPORT='10299', DESTINATION_AIRPORT='14747', SCHEDULED_DEPARTURE='1630', DEPARTURE_TIME='1711', DEPARTURE_DELAY=41, TAXI_OUT=14, WHEELS_OFF='1725', SCHEDULED_TIME=199, ELAPSED_TIME=206, AIR_TIME=183, DISTANCE=1448, WHEELS_ON='2128', TAXI_IN=9, SCHEDULED_ARRIVAL='2049', ARRIVAL_TIME='2137', ARRIVAL_DELAY=48, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=7, SECURITY_DELAY=0, AIRLINE_DELAY=41, LATE_AIRCRAFT_DELAY=0, WEATHER_DELAY=0, DATE=datetime.date(2015, 10, 25)),
 Row(YEAR=2015, MONTH=10, DAY=26, DAY_OF_WEEK=1, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N536AS', ORIGIN_AIRPORT='10299', DESTINATION_AIRPORT='14747', SCHEDULED_DEPARTURE='1630', DEPARTURE_TIME='1614', DEPARTURE_DELAY=-16, TAXI_OUT=15, WHEELS_OFF='1629', SCHEDULED_TIME=199, ELAPSED_TIME=203, AIR_TIME=176, DISTANCE=1448, WHEELS_ON='2025', TAXI_IN=12, SCHEDULED_ARRIVAL='2049', ARRIVAL_TIME='2037', ARRIVAL_DELAY=-12, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 10, 26)),
 Row(YEAR=2015, MONTH=10, DAY=27, DAY_OF_WEEK=2, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N532AS', ORIGIN_AIRPORT='10299', DESTINATION_AIRPORT='14747', SCHEDULED_DEPARTURE='1630', DEPARTURE_TIME='1624', DEPARTURE_DELAY=-6, TAXI_OUT=9, WHEELS_OFF='1633', SCHEDULED_TIME=199, ELAPSED_TIME=224, AIR_TIME=206, DISTANCE=1448, WHEELS_ON='2059', TAXI_IN=9, SCHEDULED_ARRIVAL='2049', ARRIVAL_TIME='2108', ARRIVAL_DELAY=19, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=19, SECURITY_DELAY=0, AIRLINE_DELAY=0, LATE_AIRCRAFT_DELAY=0, WEATHER_DELAY=0, DATE=datetime.date(2015, 10, 27)),
 Row(YEAR=2015, MONTH=10, DAY=29, DAY_OF_WEEK=4, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N469AS', ORIGIN_AIRPORT='10299', DESTINATION_AIRPORT='14747', SCHEDULED_DEPARTURE='1630', DEPARTURE_TIME='1621', DEPARTURE_DELAY=-9, TAXI_OUT=10, WHEELS_OFF='1631', SCHEDULED_TIME=199, ELAPSED_TIME=191, AIR_TIME=170, DISTANCE=1448, WHEELS_ON='2021', TAXI_IN=11, SCHEDULED_ARRIVAL='2049', ARRIVAL_TIME='2032', ARRIVAL_DELAY=-17, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 10, 29)),
 Row(YEAR=2015, MONTH=10, DAY=30, DAY_OF_WEEK=5, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N323AS', ORIGIN_AIRPORT='10299', DESTINATION_AIRPORT='14747', SCHEDULED_DEPARTURE='1630', DEPARTURE_TIME='1632', DEPARTURE_DELAY=2, TAXI_OUT=23, WHEELS_OFF='1655', SCHEDULED_TIME=199, ELAPSED_TIME=203, AIR_TIME=172, DISTANCE=1448, WHEELS_ON='2047', TAXI_IN=8, SCHEDULED_ARRIVAL='2049', ARRIVAL_TIME='2055', ARRIVAL_DELAY=6, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 10, 30)),
 Row(YEAR=2015, MONTH=11, DAY=1, DAY_OF_WEEK=7, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N769AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE='1645', DEPARTURE_TIME='1652', DEPARTURE_DELAY=7, TAXI_OUT=8, WHEELS_OFF='1700', SCHEDULED_TIME=204, ELAPSED_TIME=189, AIR_TIME=172, DISTANCE=1448, WHEELS_ON='2052', TAXI_IN=9, SCHEDULED_ARRIVAL='2109', ARRIVAL_TIME='2101', ARRIVAL_DELAY=-8, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 11, 1)),
 Row(YEAR=2015, MONTH=11, DAY=2, DAY_OF_WEEK=1, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N532AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE='1645', DEPARTURE_TIME='1637', DEPARTURE_DELAY=-8, TAXI_OUT=16, WHEELS_OFF='1653', SCHEDULED_TIME=204, ELAPSED_TIME=190, AIR_TIME=166, DISTANCE=1448, WHEELS_ON='2039', TAXI_IN=8, SCHEDULED_ARRIVAL='2109', ARRIVAL_TIME='2047', ARRIVAL_DELAY=-22, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 11, 2)),
 Row(YEAR=2015, MONTH=11, DAY=3, DAY_OF_WEEK=2, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N594AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE='1645', DEPARTURE_TIME='1640', DEPARTURE_DELAY=-5, TAXI_OUT=7, WHEELS_OFF='1647', SCHEDULED_TIME=204, ELAPSED_TIME=178, AIR_TIME=164, DISTANCE=1448, WHEELS_ON='2031', TAXI_IN=7, SCHEDULED_ARRIVAL='2109', ARRIVAL_TIME='2038', ARRIVAL_DELAY=-31, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 11, 3)),
 Row(YEAR=2015, MONTH=11, DAY=5, DAY_OF_WEEK=4, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N527AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE='1645', DEPARTURE_TIME='1636', DEPARTURE_DELAY=-9, TAXI_OUT=11, WHEELS_OFF='1647', SCHEDULED_TIME=204, ELAPSED_TIME=197, AIR_TIME=179, DISTANCE=1448, WHEELS_ON='2046', TAXI_IN=7, SCHEDULED_ARRIVAL='2109', ARRIVAL_TIME='2053', ARRIVAL_DELAY=-16, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 11, 5)),
 Row(YEAR=2015, MONTH=11, DAY=8, DAY_OF_WEEK=7, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N794AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE='1645', DEPARTURE_TIME='1635', DEPARTURE_DELAY=-10, TAXI_OUT=7, WHEELS_OFF='1642', SCHEDULED_TIME=205, ELAPSED_TIME=191, AIR_TIME=175, DISTANCE=1448, WHEELS_ON='2037', TAXI_IN=9, SCHEDULED_ARRIVAL='2110', ARRIVAL_TIME='2046', ARRIVAL_DELAY=-24, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 11, 8)),
 Row(YEAR=2015, MONTH=11, DAY=9, DAY_OF_WEEK=1, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N516AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE='1645', DEPARTURE_TIME='1714', DEPARTURE_DELAY=29, TAXI_OUT=9, WHEELS_OFF='1723', SCHEDULED_TIME=204, ELAPSED_TIME=185, AIR_TIME=169, DISTANCE=1448, WHEELS_ON='2112', TAXI_IN=7, SCHEDULED_ARRIVAL='2109', ARRIVAL_TIME='2119', ARRIVAL_DELAY=10, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 11, 9)),
 Row(YEAR=2015, MONTH=11, DAY=10, DAY_OF_WEEK=2, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N611AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE='1645', DEPARTURE_TIME='1709', DEPARTURE_DELAY=24, TAXI_OUT=13, WHEELS_OFF='1722', SCHEDULED_TIME=204, ELAPSED_TIME=218, AIR_TIME=196, DISTANCE=1448, WHEELS_ON='2138', TAXI_IN=9, SCHEDULED_ARRIVAL='2109', ARRIVAL_TIME='2147', ARRIVAL_DELAY=38, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=14, SECURITY_DELAY=0, AIRLINE_DELAY=24, LATE_AIRCRAFT_DELAY=0, WEATHER_DELAY=0, DATE=datetime.date(2015, 11, 10)),
 Row(YEAR=2015, MONTH=11, DAY=12, DAY_OF_WEEK=4, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N548AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE='1645', DEPARTURE_TIME='1639', DEPARTURE_DELAY=-6, TAXI_OUT=18, WHEELS_OFF='1657', SCHEDULED_TIME=204, ELAPSED_TIME=218, AIR_TIME=187, DISTANCE=1448, WHEELS_ON='2104', TAXI_IN=13, SCHEDULED_ARRIVAL='2109', ARRIVAL_TIME='2117', ARRIVAL_DELAY=8, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 11, 12)),
 Row(YEAR=2015, MONTH=11, DAY=15, DAY_OF_WEEK=7, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N706AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE='1645', DEPARTURE_TIME='1634', DEPARTURE_DELAY=-11, TAXI_OUT=7, WHEELS_OFF='1641', SCHEDULED_TIME=205, ELAPSED_TIME=193, AIR_TIME=178, DISTANCE=1448, WHEELS_ON='2039', TAXI_IN=8, SCHEDULED_ARRIVAL='2110', ARRIVAL_TIME='2047', ARRIVAL_DELAY=-23, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 11, 15)),
 Row(YEAR=2015, MONTH=11, DAY=16, DAY_OF_WEEK=1, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N514AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE='1645', DEPARTURE_TIME='1647', DEPARTURE_DELAY=2, TAXI_OUT=19, WHEELS_OFF='1706', SCHEDULED_TIME=204, ELAPSED_TIME=204, AIR_TIME=176, DISTANCE=1448, WHEELS_ON='2102', TAXI_IN=9, SCHEDULED_ARRIVAL='2109', ARRIVAL_TIME='2111', ARRIVAL_DELAY=2, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 11, 16)),
 Row(YEAR=2015, MONTH=11, DAY=17, DAY_OF_WEEK=2, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N562AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE='1645', DEPARTURE_TIME='1642', DEPARTURE_DELAY=-3, TAXI_OUT=9, WHEELS_OFF='1651', SCHEDULED_TIME=204, ELAPSED_TIME=177, AIR_TIME=159, DISTANCE=1448, WHEELS_ON='2030', TAXI_IN=9, SCHEDULED_ARRIVAL='2109', ARRIVAL_TIME='2039', ARRIVAL_DELAY=-30, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 11, 17)),
 Row(YEAR=2015, MONTH=11, DAY=19, DAY_OF_WEEK=4, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N523AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE='1645', DEPARTURE_TIME='1638', DEPARTURE_DELAY=-7, TAXI_OUT=16, WHEELS_OFF='1654', SCHEDULED_TIME=204, ELAPSED_TIME=194, AIR_TIME=171, DISTANCE=1448, WHEELS_ON='2045', TAXI_IN=7, SCHEDULED_ARRIVAL='2109', ARRIVAL_TIME='2052', ARRIVAL_DELAY=-17, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 11, 19)),
 Row(YEAR=2015, MONTH=11, DAY=22, DAY_OF_WEEK=7, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N791AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE='1645', DEPARTURE_TIME='1650', DEPARTURE_DELAY=5, TAXI_OUT=18, WHEELS_OFF='1708', SCHEDULED_TIME=205, ELAPSED_TIME=231, AIR_TIME=182, DISTANCE=1448, WHEELS_ON='2110', TAXI_IN=31, SCHEDULED_ARRIVAL='2110', ARRIVAL_TIME='2141', ARRIVAL_DELAY=31, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=31, SECURITY_DELAY=0, AIRLINE_DELAY=0, LATE_AIRCRAFT_DELAY=0, WEATHER_DELAY=0, DATE=datetime.date(2015, 11, 22)),
 Row(YEAR=2015, MONTH=11, DAY=23, DAY_OF_WEEK=1, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N570AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE='1645', DEPARTURE_TIME='1636', DEPARTURE_DELAY=-9, TAXI_OUT=27, WHEELS_OFF='1703', SCHEDULED_TIME=204, ELAPSED_TIME=207, AIR_TIME=169, DISTANCE=1448, WHEELS_ON='2052', TAXI_IN=11, SCHEDULED_ARRIVAL='2109', ARRIVAL_TIME='2103', ARRIVAL_DELAY=-6, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 11, 23)),
 Row(YEAR=2015, MONTH=11, DAY=24, DAY_OF_WEEK=2, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N565AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE='1645', DEPARTURE_TIME='1637', DEPARTURE_DELAY=-8, TAXI_OUT=13, WHEELS_OFF='1650', SCHEDULED_TIME=204, ELAPSED_TIME=189, AIR_TIME=170, DISTANCE=1448, WHEELS_ON='2040', TAXI_IN=6, SCHEDULED_ARRIVAL='2109', ARRIVAL_TIME='2046', ARRIVAL_DELAY=-23, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 11, 24)),
 Row(YEAR=2015, MONTH=11, DAY=26, DAY_OF_WEEK=4, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N560AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE='1645', DEPARTURE_TIME='1636', DEPARTURE_DELAY=-9, TAXI_OUT=7, WHEELS_OFF='1643', SCHEDULED_TIME=204, ELAPSED_TIME=204, AIR_TIME=189, DISTANCE=1448, WHEELS_ON='2052', TAXI_IN=8, SCHEDULED_ARRIVAL='2109', ARRIVAL_TIME='2100', ARRIVAL_DELAY=-9, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 11, 26)),
 Row(YEAR=2015, MONTH=11, DAY=29, DAY_OF_WEEK=7, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N513AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE='1645', DEPARTURE_TIME='1725', DEPARTURE_DELAY=40, TAXI_OUT=18, WHEELS_OFF='1743', SCHEDULED_TIME=205, ELAPSED_TIME=213, AIR_TIME=186, DISTANCE=1448, WHEELS_ON='2149', TAXI_IN=9, SCHEDULED_ARRIVAL='2110', ARRIVAL_TIME='2158', ARRIVAL_DELAY=48, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=8, SECURITY_DELAY=0, AIRLINE_DELAY=1, LATE_AIRCRAFT_DELAY=39, WEATHER_DELAY=0, DATE=datetime.date(2015, 11, 29)),
 Row(YEAR=2015, MONTH=11, DAY=30, DAY_OF_WEEK=1, AIRLINE='AS', FLIGHT_NUMBER='98', TAIL_NUMBER='N527AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE='1645', DEPARTURE_TIME='1636', DEPARTURE_DELAY=-9, TAXI_OUT=11, WHEELS_OFF='1647', SCHEDULED_TIME=204, ELAPSED_TIME=207, AIR_TIME=187, DISTANCE=1448, WHEELS_ON='2054', TAXI_IN=9, SCHEDULED_ARRIVAL='2109', ARRIVAL_TIME='2103', ARRIVAL_DELAY=-6, DIVERTED=False, CANCELLED=False, CANCELLATION_REASON=None, AIR_SYSTEM_DELAY=None, SECURITY_DELAY=None, AIRLINE_DELAY=None, LATE_AIRCRAFT_DELAY=None, WEATHER_DELAY=None, DATE=datetime.date(2015, 11, 30)),

#### Post cleaning statistics

In [30]:
df.printSchema()

root
 |-- YEAR: integer (nullable = true)
 |-- MONTH: integer (nullable = true)
 |-- DAY: integer (nullable = true)
 |-- DAY_OF_WEEK: integer (nullable = true)
 |-- AIRLINE: string (nullable = true)
 |-- FLIGHT_NUMBER: string (nullable = true)
 |-- TAIL_NUMBER: string (nullable = true)
 |-- ORIGIN_AIRPORT: string (nullable = true)
 |-- DESTINATION_AIRPORT: string (nullable = true)
 |-- SCHEDULED_DEPARTURE: string (nullable = true)
 |-- DEPARTURE_TIME: string (nullable = true)
 |-- DEPARTURE_DELAY: integer (nullable = true)
 |-- TAXI_OUT: integer (nullable = true)
 |-- WHEELS_OFF: string (nullable = true)
 |-- SCHEDULED_TIME: integer (nullable = true)
 |-- ELAPSED_TIME: integer (nullable = true)
 |-- AIR_TIME: integer (nullable = true)
 |-- DISTANCE: integer (nullable = true)
 |-- WHEELS_ON: string (nullable = true)
 |-- TAXI_IN: integer (nullable = true)
 |-- SCHEDULED_ARRIVAL: string (nullable = true)
 |-- ARRIVAL_TIME: string (nullable = true)
 |-- ARRIVAL_DELAY: integer (nullable = true)
 |-- DIVERTED: boolean (nullable = true)
 |-- CANCELLED: boolean (nullable = true)
 |-- CANCELLATION_REASON: string (nullable = true)
 |-- AIR_SYSTEM_DELAY: integer (nullable = true)
 |-- SECURITY_DELAY: integer (nullable = true)
 |-- AIRLINE_DELAY: integer (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: integer (nullable = true)
 |-- WEATHER_DELAY: integer (nullable = true)
 |-- DATE: date (nullable = true)

In [52]:
# DTypes in pd formatting
pd.DataFrame(df.dtypes, columns=['Column', 'Dtype'])

                 Column    Dtype
0                  YEAR      int
1                 MONTH      int
2                   DAY      int
3           DAY_OF_WEEK      int
4               AIRLINE   string
5         FLIGHT_NUMBER   string
6           TAIL_NUMBER   string
7        ORIGIN_AIRPORT   string
8   DESTINATION_AIRPORT   string
9   SCHEDULED_DEPARTURE   string
10       DEPARTURE_TIME   string
11      DEPARTURE_DELAY      int
12             TAXI_OUT      int
13           WHEELS_OFF   string
14       SCHEDULED_TIME      int
15         ELAPSED_TIME      int
16             AIR_TIME      int
17             DISTANCE      int
18            WHEELS_ON   string
19              TAXI_IN      int
20    SCHEDULED_ARRIVAL   string
21         ARRIVAL_TIME   string
22        ARRIVAL_DELAY      int
23             DIVERTED  boolean
24            CANCELLED  boolean
25  CANCELLATION_REASON   string
26     AIR_SYSTEM_DELAY      int
27       SECURITY_DELAY      int
28        AIRLINE_DELAY      int
29  LATE_AIRCRAFT_DELAY      int
30        WEATHER_DELAY      int
31                 DATE     date

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

##### FLIGHTS table fact
- ID PK serial PK
- FLIGHT_ID serial FK SCHEDULE
- DEPARTURE_TIME
- DEPARTURE_DELAY int
- TAXI_OUT int
- WHEELS_OFF
- ELAPSED_TIME
- AIR_TIME
- WHEELS_ON
- TAXI_IN
- ARRIVAL_TIME
- ARRIVAL_DELAY
- DIVERTED
- CANCELLED
- CANCELLATION_REASON
- AIR_SYSTEM_DELAY
- SECURITY_DELAY
- AIRLINE_DELAY
- LATE_AIRCRAFT_DELAY
- DATE


##### SCHEDULE table dim
- FLIGHT_ID serial PK composite key AIRLINE FLIGHT NUMBER SCHEDULED DEPARTURE SCHEDULED TIME
- AIRLINE str
- FLIGHT_NUMBER str
- TAIL_NUMBER str
- ORIGIN_AIRPORT
- DESTINATION_AIRPORT
- SCHEDULED_DEPARTURE
- SCHEDULED_TIME
- DISTANCE
- SCHEDULED_ARRIVAL

##### AIRPORTS table dim
- IATA_CODE serial PK
- AIRPORT str
- CITY_ID serial FK CITIES
- LATITUDE
- LONGITUDE

##### AIRLINES table dim
- IATA_CODE serial PK
- AIRLINE str

##### CITIES table dim
- ID serial PK
- CITY str UNIQUE
- STATE str
- COUNTRY str

#### TIME table dim
- DATE date PK
- YEAR
- MONTH
- DAY
- DAY_OF_WEEK

![Image](Img\data-org-chart.png)

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

1. Create a new column ID for storing primary key of FLIGHTS fact table by generating serial for each row in df
2. Create a new columns FLIGHTS_ID for storing primary key of SCHEDULE dim table by creating composite key by concating AIRLINE, FLIGHT_NUMBER, SCHEDULED_DEPARTURE, SCHEDULED_ARRIVAL
3. Create a FLIGHTS fact table by selecting columns into flights_df dataframe
4. Save FLIGHTS table in PARQUET format partitioning by YEAR > MONTH > DAY
5. Create SCHEDULE dim table by selecting appropriate columns with unique FLIGHT_IDs into schedule_df dataframe
6. Save SCHEDULE table in PARQUET format
7. Create CITY dim table by selecting appropriate columns with unique composite key CITY, STATE, COUNTRY and generate CITY_ID
8. Save CITY dim table as parquet partitioning by COUNTRY, STATE
9. Create AIRPORTS dim table by selecting appropriate columns 
10. Save AIRPORTS dim table in PARQUET format partitioning by first letter of IATA_CODE
11. Create AIRLINES dim table by slecting appropriate columns paritioning by first letter of IATA_CODE

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [83]:
# Generate ID columns

df = df.withColumn('ID', F.monotonically_increasing_id())
df = df.withColumn('FLIGHT_ID', F.concat(col('AIRLINE'), col('FLIGHT_NUMBER'), col('SCHEDULED_DEPARTURE'), col('SCHEDULED_ARRIVAL')))

## 

# w = Window().partitionBy('CITY', 'STATE', 'COUNTRY')
airports_df = airports_df.withColumn('CITY_ID', F.monotonically_increasing_id())

# FLIGHTS fact table

# flights_df = df.select("")

Traceback (most recent call last):
  File "c:\Users\Jakub.Pitera\Anaconda3\envs\udacity\Lib\site-packages\pyspark\serializers.py", line 458, in dumps
    return cloudpickle.dumps(obj, pickle_protocol)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Jakub.Pitera\Anaconda3\envs\udacity\Lib\site-packages\pyspark\cloudpickle\cloudpickle_fast.py", line 73, in dumps
    cp.dump(obj)
  File "c:\Users\Jakub.Pitera\Anaconda3\envs\udacity\Lib\site-packages\pyspark\cloudpickle\cloudpickle_fast.py", line 602, in dump
    return Pickler.dump(self, obj)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Jakub.Pitera\Anaconda3\envs\udacity\Lib\site-packages\pyspark\cloudpickle\cloudpickle_fast.py", line 692, in reducer_override
    return self._function_reduce(obj)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Jakub.Pitera\Anaconda3\envs\udacity\Lib\site-packages\pyspark\cloudpickle\cloudpickle_fast.py", line 565, in _function_reduce
    return self._dynamic_function_reduce(obj)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Jakub.Pitera\Anaconda3\envs\udacity\Lib\site-packages\pyspark\cloudpickle\cloudpickle_fast.py", line 546, in _dynamic_function_reduce
    state = _function_getstate(func)
            ^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Jakub.Pitera\Anaconda3\envs\udacity\Lib\site-packages\pyspark\cloudpickle\cloudpickle_fast.py", line 157, in _function_getstate
    f_globals_ref = _extract_code_globals(func.__code__)
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Jakub.Pitera\Anaconda3\envs\udacity\Lib\site-packages\pyspark\cloudpickle\cloudpickle.py", line 334, in _extract_code_globals
    out_names = {names[oparg]: None for _, oparg in _walk_global_ops(co)}
                 ~~~~~^^^^^^^
IndexError: tuple index out of range

PicklingError: Could not serialize object: IndexError: tuple index out of range

+--------------+
|     FLIGHT_ID|
+--------------+
|  AS9800050430|
|AA233600100750|
| US84000200806|
| AA25800200805|
| AS13500250320|
| DL80600250602|
| NK61200250526|
|US201300300803|
|AA111200300545|
|DL117300300711|
|DL233600300523|
|AA167400350803|
|DL143400350609|
|DL232400400615|
|DL244000400549|
| AS10800450509|
|DL156000450515|
|UA119700480626|
| AS12200500525|
|DL167000500603|
+--------------+
only showing top 20 rows

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.