# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import pandas as pd
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.functions import col
from pyspark.sql.window import Window

C:\Users\Jakub.Pitera\AppData\Local\Temp\ipykernel_14872\3349515680.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

#### Function definitions

In [2]:
def missing_values_count(df):
    return df.select([F.count(F.when(F.isnan(c) | F.col(c).isNull(), c)).alias(c) for c in df.columns]).show()

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [3]:
# Start a Spark Session
spark = SparkSession.builder \
    .appName("InterviewChallenge") \
    .master("local[2]") \
    .getOrCreate()

#     .config("spark.executor.memory", "2g") \

In [4]:
# Read input data to spark dataframe
flights_path = 'Data/flights.csv' 
airlines_path = 'Data/airlines.csv'
airports_path = 'Data/airports.csv'

df = spark.read.options(header=True).csv(flights_path)  # main dataset with flights data
# df = spark.read.options(header=True, inferSchema=True).csv(flights_path)  # main dataset with flights data
airlines_df = spark.read.options(header=True, inferSchema=True).csv(airlines_path)  # data dict with airlines
airports_df = spark.read.options(header=True, inferSchema=True).csv(airports_path)  # data dict with airports

In [5]:
df.printSchema()

root
 |-- YEAR: string (nullable = true)
 |-- MONTH: string (nullable = true)
 |-- DAY: string (nullable = true)
 |-- DAY_OF_WEEK: string (nullable = true)
 |-- AIRLINE: string (nullable = true)
 |-- FLIGHT_NUMBER: string (nullable = true)
 |-- TAIL_NUMBER: string (nullable = true)
 |-- ORIGIN_AIRPORT: string (nullable = true)
 |-- DESTINATION_AIRPORT: string (nullable = true)
 |-- SCHEDULED_DEPARTURE: string (nullable = true)
 |-- DEPARTURE_TIME: string (nullable = true)
 |-- DEPARTURE_DELAY: string (nullable = true)
 |-- TAXI_OUT: string (nullable = true)
 |-- WHEELS_OFF: string (nullable = true)
 |-- SCHEDULED_TIME: string (nullable = true)
 |-- ELAPSED_TIME: string (nullable = true)
 |-- AIR_TIME: string (nullable = true)
 |-- DISTANCE: string (nullable = true)
 |-- WHEELS_ON: string (nullable = true)
 |-- TAXI_IN: string (nullable = true)
 |-- SCHEDULED_ARRIVAL: string (nullable = true)
 |-- ARRIVAL_TIME: string (nullable = true)
 |-- ARRIVAL_DELAY: string (nullable = true)
 |-- DIVERTED: string (nullable = true)
 |-- CANCELLED: string (nullable = true)
 |-- CANCELLATION_REASON: string (nullable = true)
 |-- AIR_SYSTEM_DELAY: string (nullable = true)
 |-- SECURITY_DELAY: string (nullable = true)
 |-- AIRLINE_DELAY: string (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: string (nullable = true)
 |-- WEATHER_DELAY: string (nullable = true)

In [6]:
# DTypes in pd formatting
pd.DataFrame(df.dtypes, columns=['Column', 'Dtype'])

                 Column   Dtype
0                  YEAR  string
1                 MONTH  string
2                   DAY  string
3           DAY_OF_WEEK  string
4               AIRLINE  string
5         FLIGHT_NUMBER  string
6           TAIL_NUMBER  string
7        ORIGIN_AIRPORT  string
8   DESTINATION_AIRPORT  string
9   SCHEDULED_DEPARTURE  string
10       DEPARTURE_TIME  string
11      DEPARTURE_DELAY  string
12             TAXI_OUT  string
13           WHEELS_OFF  string
14       SCHEDULED_TIME  string
15         ELAPSED_TIME  string
16             AIR_TIME  string
17             DISTANCE  string
18            WHEELS_ON  string
19              TAXI_IN  string
20    SCHEDULED_ARRIVAL  string
21         ARRIVAL_TIME  string
22        ARRIVAL_DELAY  string
23             DIVERTED  string
24            CANCELLED  string
25  CANCELLATION_REASON  string
26     AIR_SYSTEM_DELAY  string
27       SECURITY_DELAY  string
28        AIRLINE_DELAY  string
29  LATE_AIRCRAFT_DELAY  string
30        WEATHER_DELAY  string

In [7]:
df.show(20)

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|YEAR|MONTH|DAY|DAY_OF_WEEK|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|CANCELLATION_REASON|AIR_SYSTEM_DELAY|SECURITY_DELAY|AIRLINE_DELAY|LATE_AIRCRAFT_DELAY|WEATHER_DELAY|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|2015|    1|  1|          4|     AS|           98|     N407AS|           ANC|                SEA|               0005|          2354|            -11|      21|      0015|           205|         194|     169|    1448|     0404|      4|             0430|        0408|          -22|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|         2336|     N3KUAA|           LAX|                PBI|               0010|          0002|             -8|      12|      0014|           280|         279|     263|    2330|     0737|      4|             0750|        0741|           -9|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     US|          840|     N171US|           SFO|                CLT|               0020|          0018|             -2|      16|      0034|           286|         293|     266|    2296|     0800|     11|             0806|        0811|            5|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|          258|     N3HYAA|           LAX|                MIA|               0020|          0015|             -5|      15|      0030|           285|         281|     258|    2342|     0748|      8|             0805|        0756|           -9|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AS|          135|     N527AS|           SEA|                ANC|               0025|          0024|             -1|      11|      0035|           235|         215|     199|    1448|     0254|      5|             0320|        0259|          -21|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|          806|     N3730B|           SFO|                MSP|               0025|          0020|             -5|      18|      0038|           217|         230|     206|    1589|     0604|      6|             0602|        0610|            8|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     NK|          612|     N635NK|           LAS|                MSP|               0025|          0019|             -6|      11|      0030|           181|         170|     154|    1299|     0504|      5|             0526|        0509|          -17|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     US|         2013|     N584UW|           LAX|                CLT|               0030|          0044|             14|      13|      0057|           273|         249|     228|    2125|     0745|      8|             0803|        0753|          -10|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|         1112|     N3LAAA|           SFO|                DFW|               0030|          0019|            -11|      17|      0036|           195|         193|     173|    1464|     0529|      3|             0545|        0532|          -13|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         1173|     N826DN|           LAS|                ATL|               0030|          0033|              3|      12|      0045|           221|         203|     186|    1747|     0651|      5|             0711|        0656|          -15|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         2336|     N958DN|           DEN|                ATL|               0030|          0024|             -6|      12|      0036|           173|         149|     133|    1199|     0449|      4|             0523|        0453|          -30|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|         1674|     N853AA|           LAS|                MIA|               0035|          0027|             -8|      21|      0048|           268|         266|     238|    2174|     0746|      7|             0803|        0753|          -10|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         1434|     N547US|           LAX|                MSP|               0035|          0035|              0|      18|      0053|           214|         210|     188|    1535|     0601|      4|             0609|        0605|           -4|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         2324|     N3751B|           SLC|                ATL|               0040|          0034|             -6|      18|      0052|           215|         199|     176|    1590|     0548|      5|             0615|        0553|          -22|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         2440|     N651DL|           SEA|                MSP|               0040|          0039|             -1|      28|      0107|           189|         198|     166|    1399|     0553|      4|             0549|        0557|            8|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AS|          108|     N309AS|           ANC|                SEA|               0045|          0041|             -4|      17|      0058|           204|         194|     173|    1448|     0451|      4|             0509|        0455|          -14|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         1560|     N3743H|           ANC|                SEA|               0045|          0031|            -14|      25|      0056|           210|         200|     171|    1448|     0447|      4|             0515|        0451|          -24|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     UA|         1197|     N78448|           SFO|                IAH|               0048|          0042|             -6|      11|      0053|           218|         217|     199|    1635|     0612|      7|             0626|        0619|           -7|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AS|          122|     N413AS|           ANC|                PDX|               0050|          0046|             -4|      11|      0057|           215|         201|     187|    1542|     0504|      3|             0525|        0507|          -18|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         1670|     N806DN|           PDX|                MSP|               0050|          0045|             -5|       9|      0054|           193|         186|     171|    1426|     0545|      6|             0603|        0551|          -12|       0|        0|               null|            null|          null|         null|               null|         null|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
only showing top 20 rows

In [8]:
# Dataframe shape
print("Dataframe row count: ", df.count())
print("Dataframe columns count: ", len(df.columns))

Dataframe row count:  5819079
Dataframe columns count:  31

In [9]:
# Column statistics
# df.describe().toPandas()

In [10]:
missing_values_count(df)

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|YEAR|MONTH|DAY|DAY_OF_WEEK|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|CANCELLATION_REASON|AIR_SYSTEM_DELAY|SECURITY_DELAY|AIRLINE_DELAY|LATE_AIRCRAFT_DELAY|WEATHER_DELAY|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|   0|    0|  0|          0|      0|            0|      14721|             0|                  0|                  0|         86153|          86153|   89047|     89047|             6|      105071|  105071|       0|    92513|  92513|                0|       92513|       105071|       0|        0|            5729195|         4755640|       4755640|      4755640|            4755640|      4755640|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+

##### Airports data dictionary

In [11]:
airports_df.printSchema()

root
 |-- IATA_CODE: string (nullable = true)
 |-- AIRPORT: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- COUNTRY: string (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)

In [12]:
# DTypes in pd formatting
pd.DataFrame(airports_df.dtypes, columns=['Column', 'Dtype'])

      Column   Dtype
0  IATA_CODE  string
1    AIRPORT  string
2       CITY  string
3      STATE  string
4    COUNTRY  string
5   LATITUDE  double
6  LONGITUDE  double

In [13]:
airports_df.show(20)

+---------+--------------------+-------------+-----+-------+--------+----------+
|IATA_CODE|             AIRPORT|         CITY|STATE|COUNTRY|LATITUDE| LONGITUDE|
+---------+--------------------+-------------+-----+-------+--------+----------+
|      ABE|Lehigh Valley Int...|    Allentown|   PA|    USA|40.65236|  -75.4404|
|      ABI|Abilene Regional ...|      Abilene|   TX|    USA|32.41132|  -99.6819|
|      ABQ|Albuquerque Inter...|  Albuquerque|   NM|    USA|35.04022|-106.60919|
|      ABR|Aberdeen Regional...|     Aberdeen|   SD|    USA|45.44906| -98.42183|
|      ABY|Southwest Georgia...|       Albany|   GA|    USA|31.53552| -84.19447|
|      ACK|Nantucket Memoria...|    Nantucket|   MA|    USA|41.25305| -70.06018|
|      ACT|Waco Regional Air...|         Waco|   TX|    USA|31.61129| -97.23052|
|      ACV|      Arcata Airport|Arcata/Eureka|   CA|    USA|40.97812|-124.10862|
|      ACY|Atlantic City Int...|Atlantic City|   NJ|    USA|39.45758| -74.57717|
|      ADK|        Adak Airport|         Adak|   AK|    USA|51.87796|-176.64603|
|      ADQ|      Kodiak Airport|       Kodiak|   AK|    USA|57.74997|-152.49386|
|      AEX|Alexandria Intern...|   Alexandria|   LA|    USA|31.32737| -92.54856|
|      AGS|Augusta Regional ...|      Augusta|   GA|    USA|33.36996|  -81.9645|
|      AKN| King Salmon Airport|  King Salmon|   AK|    USA| 58.6768|-156.64922|
|      ALB|Albany Internatio...|       Albany|   NY|    USA|42.74812| -73.80298|
|      ALO|Waterloo Regional...|     Waterloo|   IA|    USA|42.55708| -92.40034|
|      AMA|Rick Husband Amar...|     Amarillo|   TX|    USA|35.21937|-101.70593|
|      ANC|Ted Stevens Ancho...|    Anchorage|   AK|    USA|61.17432|-149.99619|
|      APN|Alpena County Reg...|       Alpena|   MI|    USA|45.07807| -83.56029|
|      ASE|Aspen-Pitkin Coun...|        Aspen|   CO|    USA|39.22316|-106.86885|
+---------+--------------------+-------------+-----+-------+--------+----------+
only showing top 20 rows

In [14]:
# Dataframe shape
print("Dataframe row count: ", airports_df.count())
print("Dataframe columns count: ", len(airports_df.columns))

Dataframe row count:  322
Dataframe columns count:  7

In [15]:
# Column statistics
airports_df.describe().toPandas()

,summary,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,count,322,322,322,322,322,319,319
1,mean,None,None,None,None,None,38.981243918495295,-98.37896445141064
2,stddev,None,None,None,None,None,8.616735581018041,21.523492046498102
3,min,ABE,Aberdeen Regional Airport,Aberdeen,AK,USA,13.48345,-176.64603
4,max,YUM,Yuma International Airport,Yuma,WY,USA,71.28545,-64.79856

In [16]:
missing_values_count(airports_df)

+---------+-------+----+-----+-------+--------+---------+
|IATA_CODE|AIRPORT|CITY|STATE|COUNTRY|LATITUDE|LONGITUDE|
+---------+-------+----+-----+-------+--------+---------+
|        0|      0|   0|    0|      0|       3|        3|
+---------+-------+----+-----+-------+--------+---------+

#### Airlines data dictionary

In [17]:
airlines_df.printSchema()

root
 |-- IATA_CODE: string (nullable = true)
 |-- AIRLINE: string (nullable = true)

In [18]:
# DTypes in pd formatting
pd.DataFrame(airlines_df.dtypes, columns=['Column', 'Dtype'])

      Column   Dtype
0  IATA_CODE  string
1    AIRLINE  string

In [19]:
airlines_df.show(20)

+---------+--------------------+
|IATA_CODE|             AIRLINE|
+---------+--------------------+
|       UA|United Air Lines ...|
|       AA|American Airlines...|
|       US|     US Airways Inc.|
|       F9|Frontier Airlines...|
|       B6|     JetBlue Airways|
|       OO|Skywest Airlines ...|
|       AS|Alaska Airlines Inc.|
|       NK|    Spirit Air Lines|
|       WN|Southwest Airline...|
|       DL|Delta Air Lines Inc.|
|       EV|Atlantic Southeas...|
|       HA|Hawaiian Airlines...|
|       MQ|American Eagle Ai...|
|       VX|      Virgin America|
+---------+--------------------+

In [20]:
# Dataframe shape
print("Dataframe row count: ", airlines_df.count())
print("Dataframe columns count: ", len(airlines_df.columns))

Dataframe row count:  14
Dataframe columns count:  2

In [21]:
# Column statistics
airlines_df.describe().toPandas()

  summary IATA_CODE               AIRLINE
0   count        14                    14
1    mean      None                  None
2  stddev      None                  None
3     min        AA  Alaska Airlines Inc.
4     max        WN        Virgin America

In [22]:
missing_values_count(airlines_df)

+---------+-------+
|IATA_CODE|AIRLINE|
+---------+-------+
|        0|      0|
+---------+-------+

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

In [23]:
# import matplotlib.pyplot as plt
# import seaborn as sns

In [24]:
# fig = plt.figure(figsize=(25, 15))
# st = fig.suptitle("Distribution of Features", fontsize=50, verticalalignment="center")
# for col, num in zip(df.toPandas().describe().columns, range(1,11)):
#     ax = fig.add_subplot(3,4, num)
#     ax.hist(df.toPandas[col])
#     plt.grid(False)
#     plt.xticks(ratation=45, fontsize=20)
#     plt.yticks(fontsize=15)
#     plt.title(col.upper(), fontsize=20)
    
# plt.tight_layout()
# st.set_y(0.95)
# fig.subplots_adjust(top=0.85, hspace=0.4)
# plt.show()

#### Cleaning Steps
Document steps necessary to clean the data

- converting to integers
- converting dates to datetime
- ~~converting time to time~~
- convert DIVERTED CANCELLED to Boolean

In [25]:
# Converting to integers 

int_cols = ['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'DEPARTURE_DELAY', 'TAXI_OUT', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'TAXI_IN', 
            'ARRIVAL_DELAY', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']
for c in int_cols :
    df = df.withColumn(c, F.col(c).cast("int"))

In [26]:
# Converting date

df = df.withColumn('DATE', F.make_date('YEAR', 'MONTH', 'DAY'))

In [27]:
# Converting time
# df1 = df.withColumn('SCHEDULED_DEPARTURE', F.make_timestamp(hour=F.substring('SCHEDULED_DEPARTURE', 1, 2),min=F.substring('SCHEDULED_DEPARTURE', 3, 2)))
# Converting time
# df1 = df.withColumn('SCHEDULED_DEPARTURE', F.to_timestamp('SCHEDULED_DEPARTURE', format='HHmm'))

In [28]:
# Converting booleans

df = df.withColumn('DIVERTED', F.col('DIVERTED').cast('boolean'))
df = df.withColumn('CANCELLED', F.col('CANCELLED').cast('boolean'))

In [29]:
df.show()

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+
|YEAR|MONTH|DAY|DAY_OF_WEEK|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|CANCELLATION_REASON|AIR_SYSTEM_DELAY|SECURITY_DELAY|AIRLINE_DELAY|LATE_AIRCRAFT_DELAY|WEATHER_DELAY|      DATE|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+
|2015|    1|  1|          4|     AS|           98|     N407AS|           ANC|                SEA|               0005|          2354|            -11|      21|      0015|           205|         194|     169|    1448|     0404|      4|             0430|        0408|          -22|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     AA|         2336|     N3KUAA|           LAX|                PBI|               0010|          0002|             -8|      12|      0014|           280|         279|     263|    2330|     0737|      4|             0750|        0741|           -9|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     US|          840|     N171US|           SFO|                CLT|               0020|          0018|             -2|      16|      0034|           286|         293|     266|    2296|     0800|     11|             0806|        0811|            5|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     AA|          258|     N3HYAA|           LAX|                MIA|               0020|          0015|             -5|      15|      0030|           285|         281|     258|    2342|     0748|      8|             0805|        0756|           -9|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     AS|          135|     N527AS|           SEA|                ANC|               0025|          0024|             -1|      11|      0035|           235|         215|     199|    1448|     0254|      5|             0320|        0259|          -21|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     DL|          806|     N3730B|           SFO|                MSP|               0025|          0020|             -5|      18|      0038|           217|         230|     206|    1589|     0604|      6|             0602|        0610|            8|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     NK|          612|     N635NK|           LAS|                MSP|               0025|          0019|             -6|      11|      0030|           181|         170|     154|    1299|     0504|      5|             0526|        0509|          -17|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     US|         2013|     N584UW|           LAX|                CLT|               0030|          0044|             14|      13|      0057|           273|         249|     228|    2125|     0745|      8|             0803|        0753|          -10|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     AA|         1112|     N3LAAA|           SFO|                DFW|               0030|          0019|            -11|      17|      0036|           195|         193|     173|    1464|     0529|      3|             0545|        0532|          -13|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     DL|         1173|     N826DN|           LAS|                ATL|               0030|          0033|              3|      12|      0045|           221|         203|     186|    1747|     0651|      5|             0711|        0656|          -15|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     DL|         2336|     N958DN|           DEN|                ATL|               0030|          0024|             -6|      12|      0036|           173|         149|     133|    1199|     0449|      4|             0523|        0453|          -30|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     AA|         1674|     N853AA|           LAS|                MIA|               0035|          0027|             -8|      21|      0048|           268|         266|     238|    2174|     0746|      7|             0803|        0753|          -10|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     DL|         1434|     N547US|           LAX|                MSP|               0035|          0035|              0|      18|      0053|           214|         210|     188|    1535|     0601|      4|             0609|        0605|           -4|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     DL|         2324|     N3751B|           SLC|                ATL|               0040|          0034|             -6|      18|      0052|           215|         199|     176|    1590|     0548|      5|             0615|        0553|          -22|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     DL|         2440|     N651DL|           SEA|                MSP|               0040|          0039|             -1|      28|      0107|           189|         198|     166|    1399|     0553|      4|             0549|        0557|            8|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     AS|          108|     N309AS|           ANC|                SEA|               0045|          0041|             -4|      17|      0058|           204|         194|     173|    1448|     0451|      4|             0509|        0455|          -14|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     DL|         1560|     N3743H|           ANC|                SEA|               0045|          0031|            -14|      25|      0056|           210|         200|     171|    1448|     0447|      4|             0515|        0451|          -24|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     UA|         1197|     N78448|           SFO|                IAH|               0048|          0042|             -6|      11|      0053|           218|         217|     199|    1635|     0612|      7|             0626|        0619|           -7|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     AS|          122|     N413AS|           ANC|                PDX|               0050|          0046|             -4|      11|      0057|           215|         201|     187|    1542|     0504|      3|             0525|        0507|          -18|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
|2015|    1|  1|          4|     DL|         1670|     N806DN|           PDX|                MSP|               0050|          0045|             -5|       9|      0054|           193|         186|     171|    1426|     0545|      6|             0603|        0551|          -12|   false|    false|               null|            null|          null|         null|               null|         null|2015-01-01|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+
only showing top 20 rows

#### Post cleaning statistics

In [30]:
df.printSchema()

root
 |-- YEAR: integer (nullable = true)
 |-- MONTH: integer (nullable = true)
 |-- DAY: integer (nullable = true)
 |-- DAY_OF_WEEK: integer (nullable = true)
 |-- AIRLINE: string (nullable = true)
 |-- FLIGHT_NUMBER: string (nullable = true)
 |-- TAIL_NUMBER: string (nullable = true)
 |-- ORIGIN_AIRPORT: string (nullable = true)
 |-- DESTINATION_AIRPORT: string (nullable = true)
 |-- SCHEDULED_DEPARTURE: string (nullable = true)
 |-- DEPARTURE_TIME: string (nullable = true)
 |-- DEPARTURE_DELAY: integer (nullable = true)
 |-- TAXI_OUT: integer (nullable = true)
 |-- WHEELS_OFF: string (nullable = true)
 |-- SCHEDULED_TIME: integer (nullable = true)
 |-- ELAPSED_TIME: integer (nullable = true)
 |-- AIR_TIME: integer (nullable = true)
 |-- DISTANCE: integer (nullable = true)
 |-- WHEELS_ON: string (nullable = true)
 |-- TAXI_IN: integer (nullable = true)
 |-- SCHEDULED_ARRIVAL: string (nullable = true)
 |-- ARRIVAL_TIME: string (nullable = true)
 |-- ARRIVAL_DELAY: integer (nullable = true)
 |-- DIVERTED: boolean (nullable = true)
 |-- CANCELLED: boolean (nullable = true)
 |-- CANCELLATION_REASON: string (nullable = true)
 |-- AIR_SYSTEM_DELAY: integer (nullable = true)
 |-- SECURITY_DELAY: integer (nullable = true)
 |-- AIRLINE_DELAY: integer (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: integer (nullable = true)
 |-- WEATHER_DELAY: integer (nullable = true)
 |-- DATE: date (nullable = true)

In [31]:
# DTypes in pd formatting
pd.DataFrame(df.dtypes, columns=['Column', 'Dtype'])

                 Column    Dtype
0                  YEAR      int
1                 MONTH      int
2                   DAY      int
3           DAY_OF_WEEK      int
4               AIRLINE   string
5         FLIGHT_NUMBER   string
6           TAIL_NUMBER   string
7        ORIGIN_AIRPORT   string
8   DESTINATION_AIRPORT   string
9   SCHEDULED_DEPARTURE   string
10       DEPARTURE_TIME   string
11      DEPARTURE_DELAY      int
12             TAXI_OUT      int
13           WHEELS_OFF   string
14       SCHEDULED_TIME      int
15         ELAPSED_TIME      int
16             AIR_TIME      int
17             DISTANCE      int
18            WHEELS_ON   string
19              TAXI_IN      int
20    SCHEDULED_ARRIVAL   string
21         ARRIVAL_TIME   string
22        ARRIVAL_DELAY      int
23             DIVERTED  boolean
24            CANCELLED  boolean
25  CANCELLATION_REASON   string
26     AIR_SYSTEM_DELAY      int
27       SECURITY_DELAY      int
28        AIRLINE_DELAY      int
29  LATE_AIRCRAFT_DELAY      int
30        WEATHER_DELAY      int
31                 DATE     date

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

##### FLIGHTS table fact
- ID PK serial PK
- FLIGHT_ID serial FK SCHEDULE
- TAIL_NUMBER
- DEPARTURE_TIME
- DEPARTURE_DELAY int
- TAXI_OUT int
- WHEELS_OFF
- ELAPSED_TIME
- AIR_TIME
- DISTANCE
- WHEELS_ON
- TAXI_IN
- ARRIVAL_TIME
- ARRIVAL_DELAY
- DIVERTED
- CANCELLED
- CANCELLATION_REASON
- AIR_SYSTEM_DELAY
- SECURITY_DELAY
- AIRLINE_DELAY
- LATE_AIRCRAFT_DELAY
- DATE


##### SCHEDULE table dim
- FLIGHT_ID serial PK composite key AIRLINE FLIGHT NUMBER SCHEDULED DEPARTURE SCHEDULED TIME
- AIRLINE str
- FLIGHT_NUMBER str
- ORIGIN_AIRPOR
- DESTINATION_AIRPORT
- SCHEDULED_DEPARTURE
- SCHEDULED_TIME
- SCHEDULED_ARRIVAL

##### AIRPORTS table dim
- IATA_CODE serial PK
- AIRPORT str
- CITY_ID serial FK CITIES
- LATITUDE
- LONGITUDE

##### AIRLINES table dim
- IATA_CODE serial PK
- AIRLINE str

##### CITIES table dim
- ID serial PK
- CITY str UNIQUE
- STATE str
- COUNTRY str

#### TIME table dim
- DATE date PK
- YEAR
- MONTH
- DAY
- DAY_OF_WEEK

![Image](Img\data-org-chart.png)

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

1. Create a new column ID for storing primary key of FLIGHTS fact table by generating serial for each row in df
2. Create a new columns FLIGHTS_ID for storing primary key of SCHEDULE dim table by creating composite key by concating AIRLINE, FLIGHT_NUMBER, SCHEDULED_ARRIVAL, SCHEDULED_DEPARTURE
3. Create a FLIGHTS fact table by selecting columns into flights_df dataframe
4. Save FLIGHTS table in PARQUET format partitioning by YEAR > MONTH > DAY
5. Create SCHEDULE dim table by selecting appropriate columns with unique FLIGHT_IDs into schedule_df dataframe
6. Save SCHEDULE table in PARQUET format
7. Create CITY dim table by selecting appropriate columns with unique composite key CITY, STATE, COUNTRY and generate CITY_ID
8. Save CITY dim table as parquet partitioning by COUNTRY, STATE
9. Create AIRPORTS dim table by selecting appropriate columns 
10. Save AIRPORTS dim table in PARQUET format partitioning by first letter of IATA_CODE
11. Create AIRLINES dim table by slecting appropriate columns paritioning by first letter of IATA_CODE
12. Create TIME dim table by selecting date columns

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [129]:
# Generate ID columns
df = df.withColumn('ID', F.monotonically_increasing_id())
df = df.withColumn('FLIGHT_ID', F.concat(col('AIRLINE'), col('FLIGHT_NUMBER'), col('SCHEDULED_DEPARTURE'), col('SCHEDULED_ARRIVAL')))

# FLIGHTS fact table
flight_cols = ['ID', 'FLIGHT_ID', 'TAIL_NUMBER', 'DATE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON', 'TAXI_IN', 'ARRIVAL_TIME', 'ARRIVAL_DELAY', 
                  'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY']
flights_table = df.select(*flight_cols)
flights_table.alias('flights')
# flights_table.write.mode('overwrite').partitionBy('DATE').parquet("Output/flights_table.parquet")

# SCHEDULE dim table
schedule_cols = ['FLIGHT_ID', 'AIRLINE', 'FLIGHT_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'SCHEDULED_TIME', 'SCHEDULED_ARRIVAL']
schedule_table = df.select(*schedule_cols).distinct().alias('schedule')
# schedule_table.write.mode('overwrite').parquet("Output/schedule_table.parquet")

# AIRLINES dim table
airlines_table = airlines_df.dropDuplicates(['IATA_CODE']).alias('airlines')
# airlines_table.write.mode('overwrite').parquet("Output/airlines_table.parquet")

# w = Window().partitionBy('CITY', 'STATE', 'COUNTRY')
cities_table = airports_df.select('CITY', 'STATE', 'COUNTRY').distinct()
cities_table = cities_table.withColumn('ID', F.monotonically_increasing_id()).select('ID', 'CITY', 'STATE', 'COUNTRY').alias('cities')
# cities_table.write.mode('overwrite').partitionBy('COUNTRY', 'STATE').parquet('Output/cities_table.parquet')

airports_table = airports_df.join(cities_table, on=['CITY', 'STATE', 'COUNTRY'], how='left').drop('CITY', 'STATE', 'COUNTRY').withColumnRenamed('ID', 'CITY_ID').dropDuplicates(['IATA_CODE']).alias('airports')
# airports_table.write.mode('overwrite').parquet('Output/airports_table.parquet')

# TIME dim table
time_cols = ['DATE', 'YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK']
time_table = df.select(*time_cols).distinct().orderBy(col('DATE')).alias('time')
# time_table.write.mode('overwrite').partitionBy('YEAR','MONTH').parquet('Output/time_table.parquet')

It was noticed 58393 records of SCHEDULE table have varying ORIGIN_AIRPORT or DESTINATION_AIRPORT despite having identical values in other fields.

Inconsistencies in the schedule table are noticed. Sometimes the flight with identical airline, flight, number, scheduled departure, scheduled arrival has inconsitency in origin or destination airports, scheduled time and distance.

SCHEDULE.SCHEDULED_TIME col is inconsistend with scheduled_departure and scheduld_arrival

In [94]:
schedule_table.groupBy('FLIGHT_ID','SCHEDULED_TIME').agg(F.first('SCHEDULED_DEPARTURE'),F.first('SCHEDULED_ARRIVAL')).show()

+--------------+--------------+--------------------------+------------------------+
|     FLIGHT_ID|SCHEDULED_TIME|first(SCHEDULED_DEPARTURE)|first(SCHEDULED_ARRIVAL)|
+--------------+--------------+--------------------------+------------------------+
|AA100011551521|           146|                      1155|                    1521|
|AA100011551527|           152|                      1155|                    1527|
|AA100016071755|           168|                      1607|                    1755|
|AA100016151810|           175|                      1615|                    1810|
|AA100210301135|            65|                      1030|                    1135|
|AA100212251340|            75|                      1225|                    1340|
|AA100220002221|           201|                      2000|                    2221|
|AA100220052224|           199|                      2005|                    2224|
|AA100220092233|           204|                      2009|                    2233|
|AA100220102229|           199|                      2010|                    2229|
|AA100220152237|           202|                      2015|                    2237|
|AA100307101105|           175|                      0710|                    1105|
|AA100307101110|           180|                      0710|                    1110|
|AA100309391232|           173|                      0939|                    1232|
|AA100311481630|           162|                      1148|                    1630|
|AA100312001425|           205|                      1200|                    1425|
|AA100319512341|           170|                      1951|                    2341|
|AA100320090002|           173|                      2009|                    0002|
|AA100407000759|            59|                      0700|                    0759|
|AA100420302355|           145|                      2030|                    2355|
+--------------+--------------+--------------------------+------------------------+
only showing top 20 rows

In [101]:
schedule_table.filter(F.expr('SCHEDULED_TIME != SCHEDULED_ARRIVAL - SCHEDULED_DEPARTURE')).show()

+--------------+-------+-------------+--------------+-------------------+-------------------+--------------+-----------------+
|     FLIGHT_ID|AIRLINE|FLIGHT_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|SCHEDULED_TIME|SCHEDULED_ARRIVAL|
+--------------+-------+-------------+--------------+-------------------+-------------------+--------------+-----------------+
|OO738906070724|     OO|         7389|           GCC|                RKS|               0607|            77|             0724|
| NK16307311032|     NK|          163|           DFW|                ATL|               0731|           121|             1032|
|AA233207400955|     AA|         2332|           DFW|                ORD|               0740|           135|             0955|
| UA21107430932|     UA|          211|           FLL|                IAH|               0743|           169|             0932|
|OO523707451041|     OO|         5237|           MKE|                IAH|               0745|           176|             1041|
| UA91007581125|     UA|          910|           DEN|                ORD|               0758|           147|             1125|
|MQ275308150850|     MQ|         2753|           CMH|                ORD|               0815|            95|             0850|
| WN45008201010|     WN|          450|           ATL|                FLL|               0820|           110|             1010|
| B628108291143|     B6|          281|           JFK|                HOU|               0829|           254|             1143|
|WN313108451020|     WN|         3131|           PHX|                SLC|               0845|            95|             1020|
| US45208450900|     US|          452|           PHX|                SAN|               0845|            75|             0900|
|OO258309151000|     OO|         2583|           SAN|                LAX|               0915|            45|             1000|
|  VX8409201720|     VX|           84|           SFO|                IAD|               0920|           300|             1720|
| WN68009201115|     WN|          680|           MHT|                MDW|               0920|           175|             1115|
|  HA4709351310|     HA|           47|           OAK|                HNL|               0935|           335|             1310|
| DL87709401129|     DL|          877|           PHL|                DTW|               0940|           109|             1129|
|OO529809451138|     OO|         5298|           ORD|                MKG|               0945|            53|             1138|
|UA160710031533|     UA|         1607|           DEN|                PHL|               1003|           210|             1533|
|WN132810101605|     WN|         1328|           PHX|                MCO|               1010|           235|             1605|
|US184910501220|     US|         1849|           DCA|                CLT|               1050|            90|             1220|
+--------------+-------+-------------+--------------+-------------------+-------------------+--------------+-----------------+
only showing top 20 rows

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [33]:
def test_is_unique():

    def check_unique(df, column):
        check = df.select(column).count() == df.select(column).distinct().count()
        print(f"{df} {column} column unique values test: {check}")
        return check
    
    check_unique(flights_table, 'ID')
    check_unique(schedule_table, 'FLIGHT_ID')
    check_unique(airports_table, 'IATA_CODE')
    check_unique(airlines_table, 'IATA_CODE')
    check_unique(cities_table, 'ID')
    check_unique(time_table, 'DATE')

In [54]:
def test_datatype():
    
    def check_datatype(df, column, dtype):
        check = dict(df.dtypes)[column] == dtype
        print(f"{df} {column} column datatype {dtype} test: {check}")
        return check

    check_datatype(flights_table, 'DATE', 'date')

In [35]:
def test_count():

    def check_count(df, n):
        check = df.size() > n
        print(f"{df} count test: {check}")
        return check    
    
    check_count(flights_table, 500000)
    check_count(airlines_table, 10)

In [55]:
test_is_unique()
test_datatype()
test_count()

DataFrame[ID: bigint, FLIGHT_ID: string, TAIL_NUMBER: string, DATE: date, DEPARTURE_TIME: string, DEPARTURE_DELAY: int, TAXI_OUT: int, WHEELS_OFF: string, ELAPSED_TIME: int, AIR_TIME: int, WHEELS_ON: string, TAXI_IN: int, ARRIVAL_TIME: string, ARRIVAL_DELAY: int, DIVERTED: boolean, CANCELLED: boolean, CANCELLATION_REASON: string, AIR_SYSTEM_DELAY: int, SECURITY_DELAY: int, AIRLINE_DELAY: int, LATE_AIRCRAFT_DELAY: int] ID column unique values test: True
DataFrame[FLIGHT_ID: string, AIRLINE: string, FLIGHT_NUMBER: string, ORIGIN_AIRPORT: string, DESTINATION_AIRPORT: string, SCHEDULED_DEPARTURE: string, SCHEDULED_TIME: int, DISTANCE: int, SCHEDULED_ARRIVAL: string] FLIGHT_ID column unique values test: False
DataFrame[IATA_CODE: string, AIRPORT: string, LATITUDE: double, LONGITUDE: double, CITY_ID: bigint] IATA_CODE column unique values test: True
DataFrame[IATA_CODE: string, AIRLINE: string] IATA_CODE column unique values test: True
DataFrame[ID: bigint, CITY: string, STATE: string, COUNTRY: string] ID column unique values test: True
DataFrame[DATE: date, YEAR: int, MONTH: int, DAY: int, DAY_OF_WEEK: int] DATE column unique values test: True
DataFrame[ID: bigint, FLIGHT_ID: string, TAIL_NUMBER: string, DATE: date, DEPARTURE_TIME: string, DEPARTURE_DELAY: int, TAXI_OUT: int, WHEELS_OFF: string, ELAPSED_TIME: int, AIR_TIME: int, WHEELS_ON: string, TAXI_IN: int, ARRIVAL_TIME: string, ARRIVAL_DELAY: int, DIVERTED: boolean, CANCELLED: boolean, CANCELLATION_REASON: string, AIR_SYSTEM_DELAY: int, SECURITY_DELAY: int, AIRLINE_DELAY: int, LATE_AIRCRAFT_DELAY: int] DATE column datatype date test: True

AttributeError: 'DataFrame' object has no attribute 'size'

In [79]:
schedule_table.count()

543207

In [78]:
schedule_table.orderBy('FLIGHT_ID').show()

+--------------+-------+-------------+--------------+-------------------+-------------------+--------------+-----------------+
|     FLIGHT_ID|AIRLINE|FLIGHT_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|SCHEDULED_TIME|SCHEDULED_ARRIVAL|
+--------------+-------+-------------+--------------+-------------------+-------------------+--------------+-----------------+
|AA100001400603|     AA|         1000|           DFW|                LGA|               0140|           203|             0603|
|AA100011551516|     AA|         1000|           DFW|                TPA|               1155|           141|             1516|
|AA100011551521|     AA|         1000|         11298|              15304|               1155|           146|             1521|
|AA100011551521|     AA|         1000|           DFW|                TPA|               1155|           146|             1521|
|AA100011551527|     AA|         1000|           DFW|                TPA|               1155|           152|             1527|
|AA100016051800|     AA|         1000|           TPA|                DFW|               1605|           175|             1800|
|AA100016071755|     AA|         1000|           TPA|                DFW|               1607|           168|             1755|
|AA100016071755|     AA|         1000|         15304|              11298|               1607|           168|             1755|
|AA100016121750|     AA|         1000|           TPA|                DFW|               1612|           158|             1750|
|AA100016151810|     AA|         1000|           TPA|                DFW|               1615|           175|             1810|
|AA100105000841|     AA|         1001|           BOS|                DFW|               0500|           281|             0841|
|AA100118251945|     AA|         1001|           DFW|                TUS|               1825|           140|             1945|
|AA100118301854|     AA|         1001|           DFW|                TUS|               1830|           144|             1854|
|AA100118301954|     AA|         1001|           DFW|                TUS|               1830|           144|             1954|
|AA100207050943|     AA|         1002|           MIA|                LAS|               0705|           338|             0943|
|AA100207200923|     AA|         1002|           ATL|                LAX|               0720|           303|             0923|
|AA100210301135|     AA|         1002|           DFW|                IAH|               1030|            65|             1135|
|AA100211151849|     AA|         1002|           LAS|                MIA|               1115|           274|             1849|
|AA100212251340|     AA|         1002|           IAH|                DFW|               1225|            75|             1340|
|AA100212271340|     AA|         1002|           IAH|                DFW|               1227|            73|             1340|
+--------------+-------+-------------+--------------+-------------------+-------------------+--------------+-----------------+
only showing top 20 rows

In [130]:
df.groupBy('FLIGHT_ID', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT').count().orderBy('FLIGHT_ID', F.desc('COUNT')).show(100)

+--------------+--------------+-------------------+-----+
|     FLIGHT_ID|ORIGIN_AIRPORT|DESTINATION_AIRPORT|count|
+--------------+--------------+-------------------+-----+
|AA100001400603|           DFW|                LGA|    1|
|AA100011551516|           DFW|                TPA|   56|
|AA100011551521|         11298|              15304|   31|
|AA100011551521|           DFW|                TPA|   26|
|AA100011551527|           DFW|                TPA|   97|
|AA100016051800|           TPA|                DFW|   54|
|AA100016071755|         15304|              11298|   31|
|AA100016071755|           TPA|                DFW|   26|
|AA100016121750|           TPA|                DFW|   97|
|AA100016151810|           TPA|                DFW|    2|
|AA100105000841|           BOS|                DFW|   15|
|AA100118251945|           DFW|                TUS|    5|
|AA100118301854|           DFW|                TUS|   21|
|AA100118301954|           DFW|                TUS|   61|
|AA100207050943|           MIA|                LAS|   21|
|AA100207200923|           ATL|                LAX|   24|
|AA100210301135|           DFW|                IAH|    5|
|AA100211151849|           LAS|                MIA|   21|
|AA100212251340|           IAH|                DFW|    5|
|AA100212271340|           IAH|                DFW|   37|
|AA100220002221|           MIA|                DFW|   39|
|AA100220052216|           MIA|                DFW|   97|
|AA100220052224|         13303|              11298|   31|
|AA100220052224|           MIA|                DFW|   26|
|AA100220092233|           MIA|                DFW|   42|
|AA100220102229|           MIA|                DFW|   28|
|AA100220152237|           MIA|                DFW|   15|
|AA100307101105|           ORD|                RSW|   15|
|AA100307101110|           DFW|                IAD|   28|
|AA100307151115|           DFW|                IAD|   12|
|AA100307151115|         11298|              12264|    3|
|AA100307151118|           DFW|                IAD|   95|
|AA100309391232|           MIA|                PHL|   39|
|AA100309401233|           MIA|                PHL|    5|
|AA100310001107|           DFW|                PSP|   82|
|AA100311481630|           PSP|                DFW|   82|
|AA100312001425|           IAD|                DFW|   28|
|AA100312051413|           IAD|                DFW|   97|
|AA100312051429|           IAD|                DFW|   15|
|AA100312051429|         12264|              11298|    4|
|AA100313251618|           PHL|                MIA|    5|
|AA100313301616|           PHL|                MIA|   39|
|AA100318482246|           ORD|                RSW|   16|
|AA100319512341|         13930|              14635|   27|
|AA100319512341|           ORD|                RSW|    4|
|AA100320090002|           ORD|                RSW|   25|
|AA100407000758|           DFW|                AUS|   94|
|AA100407000759|         11298|              10423|   27|
|AA100407000759|           DFW|                AUS|   22|
|AA100407000805|           DFW|                AUS|   33|
|AA100408390951|         10423|              11298|   26|
|AA100408390951|           AUS|                DFW|   23|
|AA100408400950|           AUS|                DFW|   97|
|AA100408440956|         10423|              11298|    5|
|AA100408440956|           AUS|                DFW|    3|
|AA100408460955|           AUS|                DFW|   41|
|AA100410151120|           DFW|                PSP|   65|
|AA100412251720|           PSP|                DFW|   66|
|AA100419002055|           DFW|                SLC|   14|
|AA100419102101|           DFW|                SLC|    1|
|AA100420252348|           DFW|                RSW|   82|
|AA100420302355|           DFW|                RSW|    5|
|AA100506500901|           RSW|                ORD|    4|
|AA100508301042|           RSW|                ORD|   38|
|AA100508531100|         14635|              13930|   26|
|AA100508531100|           RSW|                ORD|    4|
|AA100511451357|           RSW|                ORD|   15|
|AA100514251805|           DFW|                FLL|    4|
|AA100514451825|           DFW|                FLL|    1|
|AA100518502110|           FLL|                DFW|    4|
|AA100519102125|           FLL|                DFW|    1|
|AA100521502346|           MCO|                DFW|    1|
|AA100607050925|           ORD|                SAN|    3|
|AA100609201234|           MIA|                BOS|   57|
|AA100609301248|           MIA|                BOS|   28|
|AA100609301249|           MIA|                BOS|   32|
|AA100609351254|           MIA|                BOS|   65|
|AA100609451304|         13303|              10721|   31|
|AA100609451304|           MIA|                BOS|   26|
|AA100610101610|           SAN|                ORD|    4|
|AA100613301708|           BOS|                MIA|   15|
|AA100613351713|           BOS|                MIA|   42|
|AA100613501715|           BOS|                MIA|   28|
|AA100613501717|           BOS|                MIA|   97|
|AA100613551725|         10721|              13303|   31|
|AA100613551725|           BOS|                MIA|   26|
|AA100620152132|           DFW|                IAH|   39|
|AA100806290924|           EWR|                DFW|   28|
|AA100806300950|           EWR|                DFW|   57|
|AA100806450946|         11618|              11298|   31|
|AA100806450946|           EWR|                DFW|   26|
|AA100807030945|           EWR|                DFW|   97|
|AA100817151910|           DFW|                JAC|    8|
|AA100818452230|           ORD|                RSW|    4|
|AA100818452231|           ORD|                RSW|   66|
|AA100908351212|           DFW|                MCO|   97|
|AA100908401208|           DFW|                MCO|    4|
|AA100908401210|           DFW|                MCO|   52|
|AA100908401214|         11298|              13204|   31|
|AA100908401214|           DFW|                MCO|   26|
+--------------+--------------+-------------------+-----+
only showing top 100 rows

In [137]:
schedule_table.groupBy('FLIGHT_ID').count().orderBy(F.desc('count')).show()

+--------------+-----+
|     FLIGHT_ID|count|
+--------------+-----+
|AA200212001327|    4|
|WN456916001725|    4|
|   AA907001016|    3|
|  WN1709201020|    3|
|WN358918151925|    3|
|AA129212251335|    3|
|  WN2510501155|    3|
|AA197010201218|    3|
| WN32610401250|    3|
| WN51610451800|    3|
| AS14322550140|    3|
| AA82608151005|    3|
| WN28116251730|    3|
|   WN408350940|    3|
|WN198214501555|    3|
|B6163519212039|    3|
|OO648209091057|    3|
|WN259606350800|    3|
| WN68310101220|    3|
|WN205106300750|    3|
+--------------+-----+
only showing top 20 rows

In [46]:
df.groupBy('FLIGHT_ID').agg(F.concat('ORIGIN_AIRPORT')).show()

AnalysisException: expression 'ORIGIN_AIRPORT' is neither present in the group by, nor is it an aggregate function. Add to group by or wrap in first() (or first_value) if you don't care which value you get.;
Aggregate [FLIGHT_ID#2357], [FLIGHT_ID#2357, concat(ORIGIN_AIRPORT#24) AS concat(ORIGIN_AIRPORT)#2885]
+- Project [YEAR#1520, MONTH#1552, DAY#1584, DAY_OF_WEEK#1616, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#1648, TAXI_OUT#1680, WHEELS_OFF#30, SCHEDULED_TIME#1712, ELAPSED_TIME#1744, AIR_TIME#1776, DISTANCE#1808, WHEELS_ON#35, TAXI_IN#1840, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#1872, DIVERTED#2097, ... 10 more fields]
   +- Project [YEAR#1520, MONTH#1552, DAY#1584, DAY_OF_WEEK#1616, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#1648, TAXI_OUT#1680, WHEELS_OFF#30, SCHEDULED_TIME#1712, ELAPSED_TIME#1744, AIR_TIME#1776, DISTANCE#1808, WHEELS_ON#35, TAXI_IN#1840, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#1872, DIVERTED#2097, ... 9 more fields]
      +- Project [YEAR#1520, MONTH#1552, DAY#1584, DAY_OF_WEEK#1616, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#1648, TAXI_OUT#1680, WHEELS_OFF#30, SCHEDULED_TIME#1712, ELAPSED_TIME#1744, AIR_TIME#1776, DISTANCE#1808, WHEELS_ON#35, TAXI_IN#1840, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#1872, DIVERTED#2097, ... 8 more fields]
         +- Project [YEAR#1520, MONTH#1552, DAY#1584, DAY_OF_WEEK#1616, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#1648, TAXI_OUT#1680, WHEELS_OFF#30, SCHEDULED_TIME#1712, ELAPSED_TIME#1744, AIR_TIME#1776, DISTANCE#1808, WHEELS_ON#35, TAXI_IN#1840, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#1872, cast(DIVERTED#40 as boolean) AS DIVERTED#2097, ... 8 more fields]
            +- Project [YEAR#1520, MONTH#1552, DAY#1584, DAY_OF_WEEK#1616, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#1648, TAXI_OUT#1680, WHEELS_OFF#30, SCHEDULED_TIME#1712, ELAPSED_TIME#1744, AIR_TIME#1776, DISTANCE#1808, WHEELS_ON#35, TAXI_IN#1840, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#1872, DIVERTED#40, ... 8 more fields]
               +- Project [YEAR#1520, MONTH#1552, DAY#1584, DAY_OF_WEEK#1616, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#1648, TAXI_OUT#1680, WHEELS_OFF#30, SCHEDULED_TIME#1712, ELAPSED_TIME#1744, AIR_TIME#1776, DISTANCE#1808, WHEELS_ON#35, TAXI_IN#1840, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#1872, DIVERTED#40, ... 7 more fields]
                  +- Project [YEAR#1520, MONTH#1552, DAY#1584, DAY_OF_WEEK#1616, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#1648, TAXI_OUT#1680, WHEELS_OFF#30, SCHEDULED_TIME#1712, ELAPSED_TIME#1744, AIR_TIME#1776, DISTANCE#1808, WHEELS_ON#35, TAXI_IN#1840, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#1872, DIVERTED#40, ... 7 more fields]
                     +- Project [YEAR#1520, MONTH#1552, DAY#1584, DAY_OF_WEEK#1616, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#1648, TAXI_OUT#1680, WHEELS_OFF#30, SCHEDULED_TIME#1712, ELAPSED_TIME#1744, AIR_TIME#1776, DISTANCE#1808, WHEELS_ON#35, TAXI_IN#1840, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#1872, DIVERTED#40, ... 7 more fields]
                        +- Project [YEAR#1520, MONTH#1552, DAY#1584, DAY_OF_WEEK#1616, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#1648, TAXI_OUT#1680, WHEELS_OFF#30, SCHEDULED_TIME#1712, ELAPSED_TIME#1744, AIR_TIME#1776, DISTANCE#1808, WHEELS_ON#35, TAXI_IN#1840, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#1872, DIVERTED#40, ... 7 more fields]
                           +- Project [YEAR#1520, MONTH#1552, DAY#1584, DAY_OF_WEEK#1616, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#1648, TAXI_OUT#1680, WHEELS_OFF#30, SCHEDULED_TIME#1712, ELAPSED_TIME#1744, AIR_TIME#1776, DISTANCE#1808, WHEELS_ON#35, TAXI_IN#1840, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#1872, DIVERTED#40, ... 7 more fields]
                              +- Project [YEAR#1520, MONTH#1552, DAY#1584, DAY_OF_WEEK#1616, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#1648, TAXI_OUT#1680, WHEELS_OFF#30, SCHEDULED_TIME#1712, ELAPSED_TIME#1744, AIR_TIME#1776, DISTANCE#1808, WHEELS_ON#35, TAXI_IN#1840, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, cast(ARRIVAL_DELAY#39 as int) AS ARRIVAL_DELAY#1872, DIVERTED#40, ... 7 more fields]
                                 +- Project [YEAR#1520, MONTH#1552, DAY#1584, DAY_OF_WEEK#1616, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#1648, TAXI_OUT#1680, WHEELS_OFF#30, SCHEDULED_TIME#1712, ELAPSED_TIME#1744, AIR_TIME#1776, DISTANCE#1808, WHEELS_ON#35, cast(TAXI_IN#36 as int) AS TAXI_IN#1840, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#39, DIVERTED#40, ... 7 more fields]
                                    +- Project [YEAR#1520, MONTH#1552, DAY#1584, DAY_OF_WEEK#1616, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#1648, TAXI_OUT#1680, WHEELS_OFF#30, SCHEDULED_TIME#1712, ELAPSED_TIME#1744, AIR_TIME#1776, cast(DISTANCE#34 as int) AS DISTANCE#1808, WHEELS_ON#35, TAXI_IN#36, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#39, DIVERTED#40, ... 7 more fields]
                                       +- Project [YEAR#1520, MONTH#1552, DAY#1584, DAY_OF_WEEK#1616, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#1648, TAXI_OUT#1680, WHEELS_OFF#30, SCHEDULED_TIME#1712, ELAPSED_TIME#1744, cast(AIR_TIME#33 as int) AS AIR_TIME#1776, DISTANCE#34, WHEELS_ON#35, TAXI_IN#36, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#39, DIVERTED#40, ... 7 more fields]
                                          +- Project [YEAR#1520, MONTH#1552, DAY#1584, DAY_OF_WEEK#1616, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#1648, TAXI_OUT#1680, WHEELS_OFF#30, SCHEDULED_TIME#1712, cast(ELAPSED_TIME#32 as int) AS ELAPSED_TIME#1744, AIR_TIME#33, DISTANCE#34, WHEELS_ON#35, TAXI_IN#36, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#39, DIVERTED#40, ... 7 more fields]
                                             +- Project [YEAR#1520, MONTH#1552, DAY#1584, DAY_OF_WEEK#1616, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#1648, TAXI_OUT#1680, WHEELS_OFF#30, cast(SCHEDULED_TIME#31 as int) AS SCHEDULED_TIME#1712, ELAPSED_TIME#32, AIR_TIME#33, DISTANCE#34, WHEELS_ON#35, TAXI_IN#36, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#39, DIVERTED#40, ... 7 more fields]
                                                +- Project [YEAR#1520, MONTH#1552, DAY#1584, DAY_OF_WEEK#1616, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#1648, cast(TAXI_OUT#29 as int) AS TAXI_OUT#1680, WHEELS_OFF#30, SCHEDULED_TIME#31, ELAPSED_TIME#32, AIR_TIME#33, DISTANCE#34, WHEELS_ON#35, TAXI_IN#36, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#39, DIVERTED#40, ... 7 more fields]
                                                   +- Project [YEAR#1520, MONTH#1552, DAY#1584, DAY_OF_WEEK#1616, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, cast(DEPARTURE_DELAY#28 as int) AS DEPARTURE_DELAY#1648, TAXI_OUT#29, WHEELS_OFF#30, SCHEDULED_TIME#31, ELAPSED_TIME#32, AIR_TIME#33, DISTANCE#34, WHEELS_ON#35, TAXI_IN#36, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#39, DIVERTED#40, ... 7 more fields]
                                                      +- Project [YEAR#1520, MONTH#1552, DAY#1584, cast(DAY_OF_WEEK#20 as int) AS DAY_OF_WEEK#1616, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#28, TAXI_OUT#29, WHEELS_OFF#30, SCHEDULED_TIME#31, ELAPSED_TIME#32, AIR_TIME#33, DISTANCE#34, WHEELS_ON#35, TAXI_IN#36, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#39, DIVERTED#40, ... 7 more fields]
                                                         +- Project [YEAR#1520, MONTH#1552, cast(DAY#19 as int) AS DAY#1584, DAY_OF_WEEK#20, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#28, TAXI_OUT#29, WHEELS_OFF#30, SCHEDULED_TIME#31, ELAPSED_TIME#32, AIR_TIME#33, DISTANCE#34, WHEELS_ON#35, TAXI_IN#36, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#39, DIVERTED#40, ... 7 more fields]
                                                            +- Project [YEAR#1520, cast(MONTH#18 as int) AS MONTH#1552, DAY#19, DAY_OF_WEEK#20, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#28, TAXI_OUT#29, WHEELS_OFF#30, SCHEDULED_TIME#31, ELAPSED_TIME#32, AIR_TIME#33, DISTANCE#34, WHEELS_ON#35, TAXI_IN#36, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#39, DIVERTED#40, ... 7 more fields]
                                                               +- Project [cast(YEAR#17 as int) AS YEAR#1520, MONTH#18, DAY#19, DAY_OF_WEEK#20, AIRLINE#21, FLIGHT_NUMBER#22, TAIL_NUMBER#23, ORIGIN_AIRPORT#24, DESTINATION_AIRPORT#25, SCHEDULED_DEPARTURE#26, DEPARTURE_TIME#27, DEPARTURE_DELAY#28, TAXI_OUT#29, WHEELS_OFF#30, SCHEDULED_TIME#31, ELAPSED_TIME#32, AIR_TIME#33, DISTANCE#34, WHEELS_ON#35, TAXI_IN#36, SCHEDULED_ARRIVAL#37, ARRIVAL_TIME#38, ARRIVAL_DELAY#39, DIVERTED#40, ... 7 more fields]
                                                                  +- Relation [YEAR#17,MONTH#18,DAY#19,DAY_OF_WEEK#20,AIRLINE#21,FLIGHT_NUMBER#22,TAIL_NUMBER#23,ORIGIN_AIRPORT#24,DESTINATION_AIRPORT#25,SCHEDULED_DEPARTURE#26,DEPARTURE_TIME#27,DEPARTURE_DELAY#28,TAXI_OUT#29,WHEELS_OFF#30,SCHEDULED_TIME#31,ELAPSED_TIME#32,AIR_TIME#33,DISTANCE#34,WHEELS_ON#35,TAXI_IN#36,SCHEDULED_ARRIVAL#37,ARRIVAL_TIME#38,ARRIVAL_DELAY#39,DIVERTED#40,... 7 more fields] csv

In [123]:
schedule_table = schedule_table.groupBy('FLIGHT_ID','AIRLINE','FLIGHT_NUMBER','SCHEDULED_DEPARTURE','SCHEDULED_TIME','SCHEDULED_ARRIVAL').agg(
        F.concat_ws("",F.collect_list("ORIGIN_AIRPORT")).alias("ORIGIN_AIRPORT"),
        F.concat_ws("",F.collect_list("DESTINATION_AIRPORT")).alias("DESTINATION_AIRPORT")
        ).select(schedule_cols)

In [72]:
schedule_table.select('ORIGIN_AIRPORT').filter(col("ORIGIN_AIRPORT").rlike("^[0-9]*$")).count()

47710

In [124]:
schedule_table.groupBy('FLIGHT_ID').count().orderBy('COUNT', ascending=False).show()

+--------------+-----+
|     FLIGHT_ID|count|
+--------------+-----+
|WN166920202255|    2|
|OO454708370950|    2|
| UA39819102041|    2|
| UA64106000732|    2|
|UA125218562110|    2|
|WN140410101240|    2|
| WN43512351400|    2|
|EV420315171655|    2|
|UA104719062213|    2|
| VX26019502120|    2|
|UA112306470930|    2|
|UA153010351315|    2|
|UA158419152106|    2|
|UA167412361515|    2|
|WN115615451645|    2|
| WN32610401250|    2|
| NK32421302340|    2|
| NK41622150107|    2|
|WN578515351650|    2|
|WN190612401500|    2|
+--------------+-----+
only showing top 20 rows

In [89]:
schedule_table.groupBy('FLIGHT_ID').count().orderBy('count', ascending=False).filter(col('count') > 1).agg(F.sum('count')).collect()

[Row(sum(count)=58393)]

In [ ]:
UA39819102041
UA64106000732
AA200212001327
WN456916001725

In [143]:
schedule_table.where(col('FLIGHT_ID') == 'AA100011551521').show()

+--------------+-------+-------------+--------------+-------------------+-------------------+--------------+-----------------+
|     FLIGHT_ID|AIRLINE|FLIGHT_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|SCHEDULED_TIME|SCHEDULED_ARRIVAL|
+--------------+-------+-------------+--------------+-------------------+-------------------+--------------+-----------------+
|AA100011551521|     AA|         1000|         11298|              15304|               1155|           146|             1521|
|AA100011551521|     AA|         1000|           DFW|                TPA|               1155|           146|             1521|
+--------------+-------+-------------+--------------+-------------------+-------------------+--------------+-----------------+

In [144]:
df.where(col('FLIGHT_ID') == 'AA100011551521').show(100)

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+-----------+--------------+
|YEAR|MONTH|DAY|DAY_OF_WEEK|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|CANCELLATION_REASON|AIR_SYSTEM_DELAY|SECURITY_DELAY|AIRLINE_DELAY|LATE_AIRCRAFT_DELAY|WEATHER_DELAY|      DATE|         ID|     FLIGHT_ID|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+----------+-----------+--------------+
|2015|    9|  9|          3|     AA|         1000|     N467AA|           DFW|                TPA|               1155|          1436|            161|      12|      1448|           146|         134|     119|     929|     1747|      3|             1521|        1750|          149|   false|    false|               null|               0|             0|           40|                109|            0|2015-09-09|25769874660|AA100011551521|
|2015|    9| 10|          4|     AA|         1000|     N472AA|           DFW|                TPA|               1155|          1157|              2|      16|      1213|           146|         136|     116|     929|     1509|      4|             1521|        1513|           -8|   false|    false|               null|            null|          null|         null|               null|         null|2015-09-10|25769890083|AA100011551521|
|2015|    9| 11|          5|     AA|         1000|     N470AA|           DFW|                TPA|               1155|          1151|             -4|      17|      1208|           146|         136|     115|     929|     1503|      4|             1521|        1507|          -14|   false|    false|               null|            null|          null|         null|               null|         null|2015-09-11|25769905799|AA100011551521|
|2015|    9| 12|          6|     AA|         1000|     N4UCAA|           DFW|                TPA|               1155|          1300|             65|      19|      1319|           146|         137|     114|     929|     1613|      4|             1521|        1617|           56|   false|    false|               null|               0|             0|           56|                  0|            0|2015-09-12|25769920664|AA100011551521|
|2015|    9| 13|          7|     AA|         1000|     N4UCAA|           DFW|                TPA|               1155|          1257|             62|       9|      1306|           146|         130|     117|     929|     1603|      4|             1521|        1607|           46|   false|    false|               null|               0|             0|           46|                  0|            0|2015-09-13|25769933384|AA100011551521|
|2015|    9| 14|          1|     AA|         1000|     N4XCAA|           DFW|                TPA|               1155|          1212|             17|      19|      1231|           146|         154|     129|     929|     1540|      6|             1521|        1546|           25|   false|    false|               null|               8|             0|           17|                  0|            0|2015-09-14|25769949849|AA100011551521|
|2015|    9| 15|          2|     AA|         1000|     N4YRAA|           DFW|                TPA|               1155|          1151|             -4|      12|      1203|           146|         153|     138|     929|     1521|      3|             1521|        1524|            3|   false|    false|               null|            null|          null|         null|               null|         null|2015-09-15|25769965872|AA100011551521|
|2015|    9| 16|          3|     AA|         1000|     N4YUAA|           DFW|                TPA|               1155|          1148|             -7|      12|      1200|           146|         139|     124|     929|     1504|      3|             1521|        1507|          -14|   false|    false|               null|            null|          null|         null|               null|         null|2015-09-16|25769981588|AA100011551521|
|2015|    9| 17|          4|     AA|         1000|     N541AA|           DFW|                TPA|               1155|          1249|             54|      16|      1305|           146|         145|     126|     929|     1611|      3|             1521|        1614|           53|   false|    false|               null|               0|             0|           53|                  0|            0|2015-09-17|25769997886|AA100011551521|
|2015|    9| 18|          5|     AA|         1000|     N567AA|           DFW|                TPA|               1155|          1155|              0|      13|      1208|           146|         138|     120|     929|     1508|      5|             1521|        1513|           -8|   false|    false|               null|            null|          null|         null|               null|         null|2015-09-18|25770014453|AA100011551521|
|2015|    9| 19|          6|     AA|         1000|     N484AA|           DFW|                TPA|               1155|          1201|              6|      25|      1226|           146|         148|     119|     929|     1525|      4|             1521|        1529|            8|   false|    false|               null|            null|          null|         null|               null|         null|2015-09-19|25770029819|AA100011551521|
|2015|    9| 20|          7|     AA|         1000|     N503AA|           DFW|                TPA|               1155|          1150|             -5|      19|      1209|           146|         140|     118|     929|     1507|      3|             1521|        1510|          -11|   false|    false|               null|            null|          null|         null|               null|         null|2015-09-20|25770042703|AA100011551521|
|2015|    9| 21|          1|     AA|         1000|     N4WMAA|           DFW|                TPA|               1155|          1149|             -6|      19|      1208|           146|         139|     116|     929|     1504|      4|             1521|        1508|          -13|   false|    false|               null|            null|          null|         null|               null|         null|2015-09-21|25770059241|AA100011551521|
|2015|    9| 22|          2|     AA|         1000|     N470AA|           DFW|                TPA|               1155|          1148|             -7|      23|      1211|           146|         152|     123|     929|     1514|      6|             1521|        1520|           -1|   false|    false|               null|            null|          null|         null|               null|         null|2015-09-22|25770075384|AA100011551521|
|2015|    9| 23|          3|     AA|         1000|     N501AA|           DFW|                TPA|               1155|          1149|             -6|      17|      1206|           146|         151|     127|     929|     1513|      7|             1521|        1520|           -1|   false|    false|               null|            null|          null|         null|               null|         null|2015-09-23|25770091026|AA100011551521|
|2015|    9| 24|          4|     AA|         1000|     N4XDAA|           DFW|                TPA|               1155|          1153|             -2|      15|      1208|           146|         138|     120|     929|     1508|      3|             1521|        1511|          -10|   false|    false|               null|            null|          null|         null|               null|         null|2015-09-24|25770107247|AA100011551521|
|2015|    9| 25|          5|     AA|         1000|     N202AA|           DFW|                TPA|               1155|          1158|              3|      15|      1213|           146|         140|     120|     929|     1513|      5|             1521|        1518|           -3|   false|    false|               null|            null|          null|         null|               null|         null|2015-09-25|25770123840|AA100011551521|
|2015|    9| 26|          6|     AA|         1000|     N586AA|           DFW|                TPA|               1155|          1149|             -6|      13|      1202|           146|         133|     117|     929|     1459|      3|             1521|        1502|          -19|   false|    false|               null|            null|          null|         null|               null|         null|2015-09-26|25770139269|AA100011551521|
|2015|    9| 27|          7|     AA|         1000|     N424AA|           DFW|                TPA|               1155|          1152|             -3|      17|      1209|           146|         147|     127|     929|     1516|      3|             1521|        1519|           -2|   false|    false|               null|            null|          null|         null|               null|         null|2015-09-27|25770152281|AA100011551521|
|2015|    9| 28|          1|     AA|         1000|     N482AA|           DFW|                TPA|               1155|          1150|             -5|      12|      1202|           146|         159|     141|     929|     1523|      6|             1521|        1529|            8|   false|    false|               null|            null|          null|         null|               null|         null|2015-09-28|25770168896|AA100011551521|
|2015|    9| 29|          2|     AA|         1000|     N513AA|           DFW|                TPA|               1155|          1153|             -2|      17|      1210|           146|         137|     116|     929|     1506|      4|             1521|        1510|          -11|   false|    false|               null|            null|          null|         null|               null|         null|2015-09-29|25770185199|AA100011551521|
|2015|    9| 30|          3|     AA|         1000|     N4WMAA|           DFW|                TPA|               1155|          1148|             -7|      13|      1201|           146|         135|     119|     929|     1500|      3|             1521|        1503|          -18|   false|    false|               null|            null|          null|         null|               null|         null|2015-09-30|25770201148|AA100011551521|
|2015|   10|  1|          4|     AA|         1000|     N4XUAA|         11298|              15304|               1155|          1157|              2|      20|      1217|           146|         141|     117|     929|     1514|      4|             1521|        1518|           -3|   false|    false|               null|            null|          null|         null|               null|         null|2015-10-01|25770217566|AA100011551521|
|2015|   10|  2|          5|     AA|         1000|     N4XJAA|         11298|              15304|               1155|          1150|             -5|      13|      1203|           146|         143|     126|     929|     1509|      4|             1521|        1513|           -8|   false|    false|               null|            null|          null|         null|               null|         null|2015-10-02|25770234184|AA100011551521|
|2015|   10|  3|          6|     AA|         1000|     N564AA|         11298|              15304|               1155|          1154|             -1|      12|      1206|           146|         131|     116|     929|     1502|      3|             1521|        1505|          -16|   false|    false|               null|            null|          null|         null|               null|         null|2015-10-03|25770249656|AA100011551521|
|2015|   10|  4|          7|     AA|         1000|     N4YTAA|         11298|              15304|               1155|          1152|             -3|      16|      1208|           146|         139|     119|     929|     1507|      4|             1521|        1511|          -10|   false|    false|               null|            null|          null|         null|               null|         null|2015-10-04|25770262641|AA100011551521|
|2015|   10|  5|          1|     AA|         1000|     N571AA|         11298|              15304|               1155|          1153|             -2|      14|      1207|           146|         134|     116|     929|     1503|      4|             1521|        1507|          -14|   false|    false|               null|            null|          null|         null|               null|         null|2015-10-05|25770279283|AA100011551521|
|2015|   10|  6|          2|     AA|         1000|     N567AA|         11298|              15304|               1155|          1152|             -3|      11|      1203|           146|         128|     114|     929|     1457|      3|             1521|        1500|          -21|   false|    false|               null|            null|          null|         null|               null|         null|2015-10-06|25770295635|AA100011551521|
|2015|   10|  7|          3|     AA|         1000|     N504AA|         11298|              15304|               1155|          1154|             -1|      15|      1209|           146|         136|     118|     929|     1507|      3|             1521|        1510|          -11|   false|    false|               null|            null|          null|         null|               null|         null|2015-10-07|25770311863|AA100011551521|
|2015|   10|  8|          4|     AA|         1000|     N482AA|         11298|              15304|               1155|          1152|             -3|       9|      1201|           146|         133|     121|     929|     1502|      3|             1521|        1505|          -16|   false|    false|               null|            null|          null|         null|               null|         null|2015-10-08|25770328338|AA100011551521|
|2015|   10|  9|          5|     AA|         1000|     N581AA|         11298|              15304|               1155|          1206|             11|      23|      1229|           146|         141|     115|     929|     1524|      3|             1521|        1527|            6|   false|    false|               null|            null|          null|         null|               null|         null|2015-10-09|25770345013|AA100011551521|
|2015|   10| 10|          6|     AA|         1000|     N4XXAA|         11298|              15304|               1155|          1212|             17|      17|      1229|           146|         133|     113|     929|     1522|      3|             1521|        1525|            4|   false|    false|               null|            null|          null|         null|               null|         null|2015-10-10|25770360497|AA100011551521|
|2015|   10| 11|          7|     AA|         1000|     N426AA|         11298|              15304|               1155|          1152|             -3|      10|      1202|           146|         132|     119|     929|     1501|      3|             1521|        1504|          -17|   false|    false|               null|            null|          null|         null|               null|         null|2015-10-11|25770373649|AA100011551521|
|2015|   10| 12|          1|     AA|         1000|     N493AA|         11298|              15304|               1155|          1153|             -2|      17|      1210|           146|         134|     113|     929|     1503|      4|             1521|        1507|          -14|   false|    false|               null|            null|          null|         null|               null|         null|2015-10-12|25770390245|AA100011551521|
|2015|   10| 13|          2|     AA|         1000|     N4XBAA|         11298|              15304|               1155|          1219|             24|      16|      1235|           146|         134|     114|     929|     1529|      4|             1521|        1533|           12|   false|    false|               null|            null|          null|         null|               null|         null|2015-10-13|25770406630|AA100011551521|
|2015|   10| 14|          3|     AA|         1000|     N550AA|         11298|              15304|               1155|          1242|             47|      13|      1255|           146|         132|     116|     929|     1551|      3|             1521|        1554|           33|   false|    false|               null|               0|             0|           33|                  0|            0|2015-10-14|25770422859|AA100011551521|
|2015|   10| 15|          4|     AA|         1000|     N503AA|         11298|              15304|               1155|          1153|             -2|      11|      1204|           146|         137|     122|     929|     1506|      4|             1521|        1510|          -11|   false|    false|               null|            null|          null|         null|               null|         null|2015-10-15|25770439325|AA100011551521|
|2015|   10| 16|          5|     AA|         1000|     N569AA|         11298|              15304|               1155|          1154|             -1|      13|      1207|           146|         134|     119|     929|     1506|      2|             1521|        1508|          -13|   false|    false|               null|            null|          null|         null|               null|         null|2015-10-16|25770456005|AA100011551521|
|2015|   10| 17|          6|     AA|         1000|     N4WTAA|         11298|              15304|               1155|          1148|             -7|      11|      1159|           146|         129|     115|     929|     1454|      3|             1521|        1457|          -24|   false|    false|               null|            null|          null|         null|               null|         null|2015-10-17|25770471388|AA100011551521|
|2015|   10| 18|          7|     AA|         1000|     N434AA|         11298|              15304|               1155|          1148|             -7|      11|      1159|           146|         131|     116|     929|     1455|      4|             1521|        1459|          -22|   false|    false|               null|            null|          null|         null|               null|         null|2015-10-18|25770484504|AA100011551521|
|2015|   10| 19|          1|     AA|         1000|     N585AA|         11298|              15304|               1155|          1150|             -5|      13|      1203|           146|         139|     121|     929|     1504|      5|             1521|        1509|          -12|   false|    false|               null|            null|          null|         null|               null|         null|2015-10-19|25770501152|AA100011551521|
|2015|   10| 20|          2|     AA|         1000|     N470AA|         11298|              15304|               1155|          1201|              6|      16|      1217|           146|         136|     116|     929|     1513|      4|             1521|        1517|           -4|   false|    false|               null|            null|          null|         null|               null|         null|2015-10-20|25770517515|AA100011551521|

In [90]:
schedule_table.where(F.length('ORIGIN_AIRPORT') > 10).orderBy('FLIGHT_ID').show(50)

+---------+-------+-------------+--------------+-------------------+-------------------+--------------+-----------------+
|FLIGHT_ID|AIRLINE|FLIGHT_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|SCHEDULED_TIME|SCHEDULED_ARRIVAL|
+---------+-------+-------------+--------------+-------------------+-------------------+--------------+-----------------+
+---------+-------+-------------+--------------+-------------------+-------------------+--------------+-----------------+

In [154]:
schedule_table.groupBy('FLIGHT_ID','ORIGIN_AIRPORT','DESTINATION_AIRPORT').count().filter(col('ORIGIN_AIRPORT').rlike("^[0-9]*$")).show()

+--------------+--------------+-------------------+-----+
|     FLIGHT_ID|ORIGIN_AIRPORT|DESTINATION_AIRPORT|count|
+--------------+--------------+-------------------+-----+
|WN440908351005|         13796|              14679|    1|
|MQ348416081741|         11140|              11298|    1|
|  WN4716351725|         13851|              11259|    1|
|OO740213471503|         11587|              11433|    1|
|OO482513101417|         11898|              13487|    1|
|DL179222300427|         14679|              10397|    1|
| WN26613301540|         13232|              11042|    1|
|  B64910261300|         10721|              14685|    1|
| B629810041238|         13204|              12953|    1|
|B6124822450636|         12889|              12478|    1|
| B649011311253|         11278|              10721|    1|
|UA126819302331|         12266|              10821|    1|
|DL155210091238|         14057|              12892|    1|
|OO651208251149|         12892|              11109|    1|
|DL256606351216|         14771|              13487|    1|
|DL226713412052|         14679|              10397|    1|
|WN473506400905|         14747|              12889|    1|
| UA34817061814|         13487|              11292|    1|
|B6142606300749|         10821|              10721|    1|
| UA77306520835|         14122|              11292|    1|
+--------------+--------------+-------------------+-----+
only showing top 20 rows

In [ ]:
test_is_unique()

df ID column unique values test: True
df FLIGHT_ID column unique values test: False
df IATA_CODE column unique values test: True
df IATA_CODE column unique values test: True
df ID column unique values test: True
df DATE column unique values test: True

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.